[2015-11-17 21:40] fastred opened #3 "Accessing app delegate"
Hi,

Making app delegate easier to access won't lead to better code, because that pattern leads to circular dependencies. Please consider removing this part.

Good job on other parts of the library!

Thanks!

[2015-11-18 03:48] goktugyil commented on #3
Hello, thanks for feedback, I see the problem. Do you think there is a way to modify this without removing this functionality?

[2015-11-19 17:57] goktugyil commented on #3
Couldn't find anyway, so deleted it. Thanks

[2015-11-19 17:57] #3 closed

[2015-11-20 18:19] gmertk opened #4 "Array's removeObject only removes the last found."
Hi,

Not clear what is the real intention of this function. To remove the first found, the last found or all of the found objects? Right now it removes only the last one.

Cheers!

[2015-11-20 18:59] goktugyil commented on #4
The intention is when there is only one object of a certain type in an array, removing that object without manually searching its index.

Removing the last found is a coincidence that wasn't thought of. But it can certainly be changed to remove the first, remove last or all inside.

What was your intended use case?

[2015-11-20 19:13] gmertk commented on #4
I would expect `removeObject` to remove all occurrences of a given object (as  `NSMutableArray`'s `removeObject` does).

[2015-11-20 19:54] goktugyil commented on #4
Ok, makes sense. Feel free to send a pull request.

Or I will do it later when I am updating the repo

[2015-11-22 20:42] #4 closed

[2015-11-24 20:04] fbuentello opened #6 "Carthage Support?"
Im really excited for this repo, but I am wondering if there will be Carthage support anytime soon?

[2015-11-25 14:03] MPiccinato commented on #6
+1

[2015-11-25 17:57] goktugyil commented on #6
If you know how to implement it feel free to do it and send a pull request. If not I'll check it out, probably this weekend.

[2015-12-02 18:15] fastred commented on #3
Sorry, I didn't get an email notification when you answered. Thanks for removing it!

[2015-12-05 23:42] #6 closed

[2015-12-05 23:58] goktugyil commented on #6
Guys I pushed the commit by @bcylin , it works fine with me. Please try it out and see if there are any problems
https://github.com/goktugyil/EZSwiftExtensions/pull/9

[2015-12-06 06:19] fbuentello commented on #6
Yea worked for me! 👍🏼

[2015-12-21 18:40] benjaminhallock opened #13 "Zero is not a positive number."
[code]

[2015-12-21 22:55] goktugyil commented on #13
Yes thats true, feel free to send a pull request about this.

[2015-12-23 13:03] avismarahl opened #15 "The `addKeyboardWillShowNotification()` and related methods are not type safe"
public func addKeyboardWillShowNotification() {
            self.addNotificationObserver(UIKeyboardWillShowNotification, selector: "keyboardWillShowNotification:");
        }

    public func addKeyboardDidShowNotification() {
        self.addNotificationObserver(UIKeyboardDidShowNotification, selector: "keyboardDidShowNotification:");
    }

    public func addKeyboardWillHideNotification() {

[2015-12-23 13:11] #15 closed

[2015-12-23 21:22] #13 closed

[2015-12-23 23:39] goktugyil commented on #15
But why did you close this issue after opening it?

[2015-12-24 02:00] avismarahl commented on #15
I figured it's not an issue. `addKeyboardWillShowNotification:`  has bee implemented. Will not crash. All though, I am thinking of a better way to achieve this using protocols.

[2015-12-24 05:14] goktugyil commented on #15
That would be great, the method is very ugly at the moment

[2015-12-26 03:08] goktugyil opened #17 "Check array inside an array function"
let array1 = [1,2,3]
let array2 = [1,2]

array1.containsArray(array2) // return true or false

Need this extension for Array.

[2015-12-26 03:18] thellimist commented on #17
http://stackoverflow.com/a/25714995/4335588

[2015-12-26 07:10] goktugyil commented on #17
extension Array {
    func arrayContainsArray<S: SequenceType where S.Generator.Element: Equatable>(lookFor: S) -> Bool {
        for item: S.Generator.Element in lookFor {
            if self.contains(item) == false { // Cannot convert value of type 'S.Generator.Element' to expected argument type '@noescape _ throws -> Bool'
                return false
            }
        }
        return true

[2015-12-26 19:35] avismarahl commented on #17
After a little bit of playing around, I got it right. Here is the code:
[code]

[2015-12-28 04:23] avismarahl commented on #17
The reason for previous issue is that when you referenced `self.contains`, the `self`'s `Element` type may not be equatable. There is a type mismatch at `self.contains(item)`. You could solve this by constraining the method to arrays whose elements are equatable.

[2015-12-28 06:07] avismarahl opened #19 "Document the code"
Most of the code seems un-documented. We should add an appledoc style documentation.

[2015-12-28 06:42] goktugyil commented on #17
Fix issue #17 is not working when I use

    let arr = [1,2,3,4]
    let arr2 = [1,2,3]

I'm just going to comment it out inside the code.

[2015-12-28 06:43] goktugyil commented on #19
Yeah, its definitely needed. There is a good extension which helps with documentation. I can start doing it from smaller files and people might contribute as they find time?

[2015-12-28 06:45] avismarahl commented on #19
VVDocumenter, isn't it? Yup, will contribute as I get tim.

[2015-12-28 06:46] avismarahl commented on #17
I think it does.
<img width="1256" alt="screen shot 2015-12-28 at 12 12 44 pm" src="https://cloud.githubusercontent.com/assets/5190296/12015064/bf8deb58-ad5c-11e5-82c4-7d6b436cf4b7.png">

[2015-12-28 06:58] goktugyil commented on #19
Yeah thats its.

[2015-12-28 07:38] avismarahl opened #20 "Type safety hole"
[code]

The above method seems to have a type safety hole at  `obj = self[i] as? U`, which by the way, should have been ` obj = self[i] as! U` in previous versions of Swift . The API is available for arrays that are not equatable as well. This is unsafe and prone to confusion and error. Also, no exceptions are thrown if the element isn't found.

We should refactor this to:
[code]
where `ArrayExcep

[2015-12-28 07:41] #17 closed

[2015-12-28 07:45] goktugyil commented on #20
Good catch. I'm logging off now, I'll check this the next time I sit down.

[2015-12-28 15:17] fbuentello opened #21 "[Question] Add UnderscoreJS and Lodash type support?"
Before I start implementing or creating a pull request, I wanted to ask if [UnderscoreJS](http://underscorejs.org/) and [Lodash](https://lodash.com/) would be appropriate extensions to include in this Library? Here is an example of these type of Extensions already implemented in Swift, [**Dollar.swift**](https://github.com/ankurp/Dollar.swift).

[2015-12-28 21:46] goktugyil commented on #21
Some of the functionality there seem good. But the implementation should be swift-like. Except for the file "ez" which includes popular global stuff, all the extensions must feel natural.

[2015-12-29 00:17] thellimist commented on #21
The most useful function from _ are already implemented in Swift 2.0 by default. Did you encounter any functions provided by _ which are hard to do in swift?

[2015-12-30 07:02] avismarahl commented on #20
Shall I start working on this?

[2015-12-30 20:30] goktugyil commented on #20
Yeah man, sorry I couldn't find time to look at this yet

[2016-01-11 10:18] goktugyil commented on #21
I'm closing this if there is nothing else to add

[2016-01-11 10:18] #21 closed

[2016-01-11 10:21] goktugyil commented on #19
It seems VVDocumenter isn't needed, shorter documentation is better. I did the first one:

"EZSE:" is just there to clearly identify from UIKit

https://github.com/goktugyil/EZSwiftExtensions/commit/c8ed6e3a6fbd5e18d494767a49b25fce922b2ae6
https://github.com/goktugyil/EZSwiftExtensions/commit/9dfdbd8f4db4426f09254d8782f04400e29be2a4

[2016-01-18 12:11] Alexsmile2010 opened #30 "Add RandomColor to UIColor extension"
Please add random color function to UIColor extantion.

[2016-01-18 21:22] goktugyil commented on #30
Ok, I will in the next update

[2016-01-21 00:43] lfarah opened #31 "ez.runThisEvery() doesn't work properly"
When called, it waits x seconds before executing for the first time. Should execute right away!

[2016-01-21 00:50] #31 closed

[2016-01-24 03:30] goktugyil opened #33 "NSDate.tostring() not working as expected"
https://github.com/goktugyil/EZSwiftExtensions/commit/fe7c2bffa4ac152a6a5e9ee02e307d7b046c6cdc
https://github.com/goktugyil/EZSwiftExtensions/commit/30a8f793a23a6b46e86b549ccbb4c3f379690119

I am trying to use this example and I run this code and get the following results:

        let format = "yyyy/MM/dd"
        let fromString = "2016/01/11"
        var date = NSDate(fromString: fromString, for

[2016-01-24 03:44] goktugyil commented on #30
Here it is:

[2016-01-24 03:44] #30 closed

[2016-01-24 14:30] furuyan commented on #33
Thanks for pointing it out.
I think so too.
Add two method below.
[code]

[2016-01-28 22:38] #33 closed

[2016-02-07 13:16] arielpollack commented on #20
even better:
[code]

[2016-02-09 10:18] Alexsmile2010 opened #40 "Precision String Format Specifier"
http://stackoverflow.com/questions/24051314/precision-string-format-specifier-in-swift

[2016-02-09 23:36] goktugyil commented on #40
Which extension are you referring about?

[2016-02-11 08:05] Alexsmile2010 commented on #40
I wanted to tell you to add an extension for double or float  type. If I have value 3.14159265359 but I need 3.14 to display in label for example . Sorry for my English.

[2016-02-11 12:20] goktugyil commented on #40
Sure I'll add it in the next update

[2016-02-11 15:23] oronbz opened #49 "UIFont.HelveticaNeue(type: .Regular, size: 13), unexpectedly found nil while"
Hi,
When trying to run `UIFont.HelveticaNeue(type: .Regular, size: 13)` getting: `fatal error: unexpectedly found nil while unwrapping an Optional value`

[2016-02-11 22:17] goktugyil commented on #49
Thanks, I'll look into it

[2016-02-16 07:20] lfarah commented on #19
Im working on that too!

[2016-02-16 08:49] thellimist opened #56 "NSAttributedString Extensions"
Having `NSAttributedString` properties in String Extension would be useful. Some examples could be

[code]

Also chaining could be great. This would require extensions in both `NSAttributedString` and `String`
[code]

[2016-02-17 06:26] lfarah opened #58 "Create a "How to Contribute" section"

[2016-02-18 08:44] lfarah commented on #49
I discovered why this happens. It's because HelveticaNeue doesn't have a -Regular. Its name is just HelveticaNeue. I'm fixing that right now

[2016-02-18 08:49] lfarah commented on #40
@Alexsmile2010 now this is possible thanks to #59

[2016-02-18 08:51] Alexsmile2010 commented on #40
You are the best 😊

С уважением Алексей Заякин.

Четверг, 18 февраля 2016 г., 10:49 +0200 от notifications@github.com  <notifications@github.com>:

[2016-02-18 08:52] lfarah commented on #40
Thanks! I'm really working to improve EZSwiftExtensions. Let us know if you have another extension idea!

[2016-02-18 09:42] lfarah commented on #56
UILabels won't open links. Need to set delegates to make it work!

[2016-02-18 09:49] lfarah commented on #56
Tasklist:
- [x] underline
- [x] bold
- [x] italic
- [x] color
- [x] chaining by using NSAttributedString Extensions

[2016-02-18 23:12] #49 closed

[2016-02-19 01:32] goktugyil commented on #40
@Alexsmile2010 We updated the function like this: https://github.com/goktugyil/EZSwiftExtensions/commit/e5d628ea2962b6e8f27489007a2a21fe360c8991

Sorry for the delay in cocoapods update, I'll include this change in the next build

[2016-02-19 01:32] #40 closed

[2016-02-20 02:34] lfarah commented on #56
@goktugyil I think we can close this issue

[2016-02-20 08:33] #56 closed

[2016-02-24 01:21] lfarah opened #73 "convenience init in UIImageView has too many variables"
How it is:
    `public convenience init(x: CGFloat, y: CGFloat, w: CGFloat, h: CGFloat, imageName: String) {}`
How it should be:
    `public convenience init(frame: CGRect, imageName: String) {}`

[2016-02-25 21:35] goktugyil commented on #73
No :angry:

This is shorter, believe me

[2016-02-25 21:35] #73 closed

[2016-02-26 01:05] goktugyil opened #78 "extension NSAttributedString"
@lfarah docs pls

[2016-02-26 01:15] goktugyil opened #79 "UIColor init merge too methods"
todo uicolor hex and hexstring initilizers as <T>

@lfarah

[2016-03-01 05:39] lfarah opened #80 "UISlider Extension"
[code]

[2016-03-02 00:57] #20 closed

[2016-03-02 01:24] #19 closed

[2016-03-02 01:24] goktugyil commented on #58
Also add how to document the code

[2016-03-02 01:28] goktugyil commented on #80
https://github.com/goktugyil/EZSwiftExtensions/commit/9f25388acea3bc4fa6bcf916a6ebe2a3159f7e69
All yours

[2016-03-02 01:55] goktugyil opened #82 "Add clickable links to uitextview/uilabel"
Maybe with a closure to track when its clicked?

[2016-03-02 02:21] lfarah commented on #80
Thanks!

[2016-03-02 02:21] #80 closed

[2016-03-02 02:38] #78 closed

[2016-03-02 02:39] lfarah commented on #82
As [this StackOverflow question](http://stackoverflow.com/questions/1256887/create-tap-able-links-in-the-nsattributedtext-of-a-uilabel) talks about, **UITextViews** already highlight any link (url, phone, etc), but **UILabels** don't

[2016-03-02 02:45] lfarah opened #85 "String documentation"
Missing documentation for these methods:
[code]

[2016-03-02 05:15] lfarah opened #90 "UIView.removeSubview(x,y)"
Normally, you can only remove a subview if you have the _object_. In this method, you can remove a subview by having it's **x** and **y**
What do you guys think?

[code]

[2016-03-02 22:26] lfarah opened #92 "UIColor Documentation"
[code]

[2016-03-03 06:13] goktugyil commented on #90
This seems dangerous. What if there is another subview at that location?

[2016-03-08 23:27] #79 closed

[2016-03-08 23:28] goktugyil commented on #92
Directly create an PR if its a straight forward thing, issue if its more complicated

[2016-03-09 02:23] lfarah commented on #92
The thing is: sometimes I'm waiting for you to approve a PR before I push new code, so I created an issue so I have the code here once you approve the PR.

[2016-03-09 02:23] #92 closed

[2016-03-09 02:26] #85 closed

[2016-03-09 02:27] #90 closed

[2016-03-09 06:43] goktugyil commented on #92
If that PR wasn't about UIColor, then no probem :stuck_out_tongue_closed_eyes:

[2016-03-15 02:17] lfarah opened #99 "EZSwiftExtensionsTestsDictionary is breaking"
union test isn't working:
<img width="912" alt="screen shot 2016-03-14 at 7 17 02 pm" src="https://cloud.githubusercontent.com/assets/6511079/13765739/602da320-ea19-11e5-99cf-37274eaf6ecc.png">

[2016-03-15 07:33] goktugyil commented on #99
fixed

[2016-03-15 07:33] #99 closed

[2016-03-15 13:09] goktugyil opened #100 "Add readme"
Add new Array and Dictionary extensions into readme with examples

[2016-03-17 14:33] goktugyil commented on #58
https://github.com/goktugyil/EZSwiftExtensions/blob/master/CONTRIBUTING.md

[2016-03-17 14:33] #58 closed

[2016-04-05 20:53] paulz opened #109 "Should extension methods have prefix, like ezs_?"
Thank you for the useful extensions!

We recently integrated EZSwiftExtensions into our production project and noticed some surprising breakages happening.

Removing EZSwiftExtensions fixed the issues.

We wonder if there is a subtle name clash going on with Apple internal method names since compiler did not give us any warning about conflicts.

When we ask Apple for support Apple Engineers recomm

[2016-04-06 09:10] goktugyil commented on #109
Hello, I am also using this repo in several of my apps in production using Swifts latest version, there were no clashes?

Apple added some of the methods included here over the time, but we removed them. Which version of Swift and EZSwiftExtensions are you using? Which Apple or other peoples frameworks are you using? Did you install manually or as a framework from cocoapods?

Name prefixes sounds

[2016-04-07 04:44] respan opened #110 "Wrong addAsChildViewController's calls order"
Hey. According to [Apple docs](https://developer.apple.com/library/ios/featuredarticles/ViewControllerPGforiPhoneOS/ImplementingaContainerViewController.html#//apple_ref/doc/uid/TP40007457-CH11-SW1) (section "Adding a Child View Controller to Your Content") you should first call `addChildViewController` and only then `addSubview`:

[code]
I didn't experience any bugs, but still have some concerns.

[2016-04-07 09:00] goktugyil commented on #110
There was some kind of issue before about the view, that only happened here. I am not sure if this was the problem but something about the order messed up when I tried to access the size of view or something like that. Feel free to experiment, I'll also check it out again.

I seem to have used the correct way in my other repos:
https://github.com/goktugyil/EZSwipeController/blob/master/EZSwipeCont

[2016-04-12 11:02] phpmaple opened #115 "carthage update problem"
When I use carthage update failure and show many warning and error below info

[code]

[code]

[2016-04-12 17:43] goktugyil commented on #115
@bcylin Can you check out this problem?

[2016-04-14 07:17] bcylin commented on #115
I think it has something to do with SwiftLint in the build config. @phpmaple could you please provide the following info? Thank you.

* `xcodebuild -version`
* `carthage version`
* The `Cartfile.resolved`, or the version of EZSwiftExtensions that you are installing

[2016-04-14 09:21] phpmaple commented on #115
- Xcode 7.3
Build version 7D175

- 0.11.0

- github "goktugyil/EZSwiftExtensions" "1.3"

[2016-04-15 02:48] inket commented on #115
Your SwiftLint version might be outdated?

Try running `brew upgrade swiftlint`

[2016-04-15 02:54] inket commented on #109
Relevant: https://pspdfkit.com/blog/2016/surprises-with-swift-extensions/

Are you using Objective-C ?

I think it would be better to include a prefix for Objective-C like `@objc(ezs_)`

[2016-04-15 09:44] icesquall opened #116 "How do I remove objects from an array"
just like this

        var selectOrders = Array<Order>()
        self.orderArray.removeObjects(selectOrders)

[2016-04-15 10:15] goktugyil commented on #116
Hello, is this related to some other issue in the project?

[2016-04-18 01:54] phpmaple commented on #115
@inket Thanks, it solved, I closed problem

[2016-04-18 01:54] #115 closed

[2016-04-18 09:09] paulz commented on #109
@goktugyil we use Swift 2 on ObjC+Swift project with many cocoapods. Latest release of cocoapods '0.39'. All targets `use_frameworks!`
We installed EZSwiftExtensions as a cocoapod.
Here is our list of Apple frameworks:
[code]

Unfortunately we did not had time to debug the problem and had to remove EZSwiftExtensions since we just started using it. Our application lost some colors when we had EZSwi

[2016-04-19 04:45] JanusHuang opened #119 "Carthage support iOS SDK"
Hi, when I use carthage to import the EZSwiftExtensions, I got the the error since the project base sdk is iOS 9.0 while mine is iOS 8.0, thus I have to modify the configuration manually and rebuild, can the author modify the project sdk to 8.0 thus we can keep our framework updated. No everyone's project use minimal sdk 9.0 right?

[2016-04-20 06:46] lfarah opened #120 "Switch Extensions"
I'd like the ```UISwitch``` to have a ```.toggle()``` just like *Booleans* have a ```.toggle()```, so:
[code]

[code]

[2016-04-22 11:02] goktugyil commented on #116
It seems not? I'm closing

[2016-04-22 11:02] #116 closed

[2016-04-22 11:14] goktugyil commented on #109
I tried adding those frameworks, tried using objective-c. Still couldn't find a problem, can you give me the list in your podfile? Maybe something there is clashing

[2016-04-22 11:24] goktugyil commented on #120
Good idea, add it 😁

[2016-04-22 11:28] goktugyil commented on #120
https://github.com/goktugyil/EZSwiftExtensions/commit/37d23a34086830f9609e717975f35854fe7b1990

[2016-04-22 11:29] goktugyil commented on #120
dont forget public

[2016-04-22 11:45] goktugyil commented on #119
https://github.com/goktugyil/EZSwiftExtensions/commit/b8eac00ac20ac6740be745e20d99b0f8d904caac

Hope it works and doesn't mess anyone elses code

[2016-04-22 11:45] #119 closed

[2016-04-22 11:49] goktugyil commented on #110
https://pspdfkit.com/images/blog/2016/swift-extensions-0ec098cd.png
Here is something similar I came across to

[2016-04-23 10:04] #120 closed

[2016-04-25 22:42] paulz commented on #109
Here is the list of pods we use, all installed with `use_frameworks!`
[code]

[2016-05-02 22:34] goktugyil commented on #109
I couldn't get these to compile, which may be a lot of reasons like target version, objc stuff, or this repo. #pod 'ASRestKit'
#pod 'BFGCallbackRouter'
#pod 'GRK-Mixpanel-OSX'
#pod 'ComponentKit+SDWebImage'
#pod 'AVReachability'

The rest works fine

[2016-05-26 20:03] lfarah opened #128 "testDateToString not passing"
<img width="977" alt="screen shot 2016-05-26 at 1 02 42 pm" src="https://cloud.githubusercontent.com/assets/6511079/15588331/36990934-2342-11e6-9a78-9786021fb747.png">

[2016-05-26 21:02] lfarah opened #130 "Add Travis.ci"

[2016-05-26 22:27] #128 closed

[2016-05-27 04:22] lfarah commented on #130
[Instructions here](https://www.objc.io/issues/6-build-tools/travis-ci/)

[2016-05-27 10:11] goktugyil commented on #130
do it 😁

[2016-05-30 06:43] lfarah commented on #130
@goktugyil I already added the ```.travis.yml``` file, but only you can link travis account to the repo

[2016-05-30 09:48] Alexsmile2010 opened #133 "Add strikethrough property to string extantion"

[2016-05-30 10:51] goktugyil commented on #133
@lfarah

[2016-05-30 10:52] goktugyil commented on #130
Seems long, I'll take a look at it later

[2016-05-30 18:02] lfarah commented on #130
You literally only have to sign in with your *Github* account on Travis and activate a Switch

<img width="816" alt="screen shot 2016-05-30 at 11 01 17 am" src="https://cloud.githubusercontent.com/assets/6511079/15655852/dc848d9e-2655-11e6-88ab-f3c0c9d301be.png">

[2016-05-31 14:32] N1c0L4z3R opened #134 "Add methods and properties for NSDate"
I think there should be a bit more methods and properties for NSDate. First, I know EXSwift had properties for elements such as day, month, year, etc. Those were pretty useful IMO.

Second, I think there should be methods to be able to easily determine if a NSDate is on the same day, same month or same year as another date instead of just having the == operator.

What do you think?

[2016-05-31 14:37] N1c0L4z3R commented on #134
By the way, I have done an implementation of some of these methods, I could do a PR if you feel like it would make sense in the library.

[2016-06-01 05:15] lfarah commented on #133
[code]

[2016-06-02 10:51] amosavian opened #137 "trimmed() String function behaves unexpected."
trimming string means removing special characters from start and end of string. trim() removes whitespace characters from inside string
e.g:
[code]
While expected result is `"Hello how are you"`

[2016-06-04 06:54] PatrickSCLin opened #138 "push version 1.4.1 to CocoaPods"
Hi, could you push 1.4.1 to CocoaPods ?

I can not find 1.4.1 directly via "pod search"

[2016-06-04 14:58] goktugyil commented on #130
done, send some pull requests lets see how it works

[2016-06-04 14:58] #130 closed

[2016-06-04 15:01] #133 closed

[2016-06-04 15:43] goktugyil commented on #134
Sounds good, do you use these functions in your own project? If you do send a pull request

[2016-06-04 15:52] goktugyil commented on #137
Thanks, fixed it 👍

https://github.com/goktugyil/EZSwiftExtensions/commit/609fce34a41f98733f97dfd7b4c23b5d16416206

[2016-06-04 15:52] #137 closed

[2016-06-04 15:56] goktugyil commented on #100
https://github.com/williamFalcon/Bolt_Swift another interesting extensions project

[2016-06-04 16:03] goktugyil commented on #130
Lol
[code]

[2016-06-04 16:12] goktugyil commented on #138
Oops, done!

[2016-06-04 16:12] #138 closed

[2016-06-05 20:54] amosavian commented on #134
the biggest barrier in implementing methods to compare dates in local time differences imo
e.g Now is Jun 6 in Iran while Jun 5 in the US

[2016-06-09 16:51] GabrielCartier commented on #134
hey @amosavian I don't think that matters anyway.
The developers should be the one responsible for knowing if they compare dates in different timezones IMO.

[2016-06-10 14:08] GabrielCartier opened #140 "Can't use on extensions"
We are building a keyboard application and we can't use the pod in it. There is a problem with the `UIAlertControllerExtension` class. Here's the error:
`EZSwiftExtensions/Sources/UIAlertControllerExtensions.swift:13:23: 'sharedApplication()' is unavailable: Use view controller based solutions where appropriate instead.`

In my opinion, there should be a different sub pod for extensions that use A

[2016-06-10 15:08] goktugyil commented on #140
Yes, makes sense. But in that case I guess that shouldn't be the only error you should get. What else are you getting?

If this is the only one, we can tweak it so it works

[2016-06-10 15:38] GabrielCartier commented on #140
I can further investigate to know all the errors, let me get back to you on this.

[2016-06-26 23:25] Morbix commented on #130
First of all, when I enabled Travis in my repo I found strange that all travis scripts sets the language to objective-c. Try set this too.

And If it doesn't work, try a simpler script like mine:

[code]

[2016-06-27 09:26] piv199 opened #146 "StringExtensions -> CapitalizeFirst"
add please at first line

guard characters.count > 0 else { return self }

because String().capitalizeFirst crashes the program. If someone would like to check on client side it's good but if someone not, it's not the expected behaviour to crash the program

[2016-06-27 11:37] lfarah opened #147 "testFileFunctions() fails on Travis.ci"
[Answer 1](http://stackoverflow.com/questions/19309092/nsurl-to-file-path-in-test-bundle-with-xctest)
[Answer 2](http://stackoverflow.com/questions/9157480/nsbundle-pathforresource-returns-nil/24330617#24330617)

[2016-06-28 07:25] goktugyil commented on #146
Can you send a pull request with this?

[2016-06-28 23:32] lfarah commented on #146
I'll work on it

[2016-06-28 23:37] lfarah commented on #147
@goktugyil can we remove ```testFileFunctions()```?

[2016-06-28 23:39] lfarah opened #150 "capitalizeFirst should be a method"
```capitalizeFirst``` inside ```StringExtensions``` realizes an action of capitalizing the first character of a string, so therefore it should be a method instead of a variable with a getter.

Today's implementation:
[code]

What it should be:

[code]

[2016-07-01 09:05] #146 closed

[2016-07-01 09:11] goktugyil commented on #147
https://github.com/goktugyil/EZSwiftExtensions/commit/8902adce50d648181ae2dc8e0dcc9fe405e8ccab

this work?

[2016-07-01 09:14] goktugyil commented on #150
Yes it should, also capitalizeFirst() should change self, while getCapitalizedFirst() or a method like that should return a new string with the first letter capitalized

[2016-07-02 15:53] lfarah commented on #147
@goktugyil yeah 🎉

[2016-07-02 18:11] #147 closed

[2016-07-04 21:01] lfarah opened #156 "Setup Swiftlint on Travis.ci"
[Tutorial here](https://alexplescan.com/posts/2016/03/03/setting-up-swiftlint-on-travis-ci/)

[2016-07-06 05:34] inket commented on #156
No need to follow any tutorial to use swiftlint on Travis; just put `brew install swiftlint` in `install` and `swiftlint` in `script`. (5 seconds instead of the 23+ the tutorial mentions)

Besides that, maybe it's time to remove `swiftlint` completely. Even the most basic rules are ignored right now, so there's not benefit. (oh, and it kinda causes the carthage build to fail if you have a newer ve

[2016-07-06 20:19] lfarah commented on #156
@inket I fixed every single issue for ```Swiftlint``` on ```EZSwiftExtensions``` at #127  and It is sooo useful! I know people at big companies that use **Swiftlint + Travis** integration.

[2016-07-22 09:52] bigdeer2016 opened #161 "Add storyboard support for BlockButton"
I can't print when i use addAction method

Here's the code:
[code]
why ?

[2016-07-25 15:01] piv199 opened #162 "Load View/ViewController from Nib file"
Now it looks like the following

`let filterHeaderView = UINib(nibName: FilterHeaderView.className, bundle: nil).instantiateWithOwner(self, options: nil).last as? FilterHeaderView`

Not as Swifty as it could be. Should we have an extension for that?

Well I don't actually know yet how it could be more swifty. Could anybody give an example? Something like `let filterHeaderView = UINib.instantiate(v

[2016-07-25 15:18] #156 closed

[2016-07-25 17:39] piv199 commented on #161
Well, I've researched a bit and found next:
This called when you create a block button in code
[code]

This is executed when you create a block button in storyboard
[code]

There is no defaultInit() for Storyboard block button. So there is no observer for pressed and highlight events of the button.

Should we add support for Storyboard BlockButton?

[2016-07-28 13:59] piv199 opened #163 "Document Directory"
Don't know as of swift3 changes about this, but swift 2

`NSSearchPathForDirectoriesInDomains(.DocumentDirectory, .UserDomainMask, true).last
`

just for getting document directory is not cool and swifty. Also I haven't found any methods by searching 'document' and 'directory'.

[2016-07-29 08:12] goktugyil commented on #163
I haven't seen that in the code base except a small part where its commented out?

[2016-07-29 08:49] goktugyil commented on #162
What else needs to be controlled?

[2016-07-29 18:47] lfarah commented on #161
@piv199 that should definitely be added. Can you do that, @piv199 ?

[2016-07-29 18:48] #150 closed

[2016-07-29 18:51] lfarah commented on #110
@respan I'd be cool to submit a PR. It's always good to follow the Apple Docs

[2016-07-29 20:05] piv199 commented on #162
Just found that we already have something similar in EZSwiftExtensions.

`let view: CustomView = NSBundle.loadNib("nibName")` or let view =` NSBundle.loadNib("nibName") as? CustomView`

However it's a bit confusing as I suppose. Also it's not SwiftLint compliant.

We should control View/ViewController that will be instantiated by its type, nib should also have the same name, thus it's good practic

[2016-07-29 20:14] piv199 commented on #163
Well, sorry, I haven't understand a bit.

http://stackoverflow.com/questions/24055146/how-to-find-nsdocumentdirectory-in-swift

The first link found searching 'swift get documents directory'. If you need to get a url to your application document's directory you need to write `NSSearchPathForDirectoriesInDomains(.DocumentDirectory, .UserDomainMask, true)[0]`.

Many of users who need to write someth

[2016-07-31 10:56] goktugyil commented on #163
Would this work for both ios and osx?

[2016-07-31 10:57] goktugyil commented on #162
Yeah, makes sense, personally I don't use storyboards/xibs so you 2 decide

[2016-07-31 10:58] #161 closed

[2016-07-31 10:59] goktugyil commented on #161
Noob mistake 😞

[2016-07-31 17:04] piv199 commented on #163
@goktugyil Yes we could do this both for iOS and OS X

[2016-07-31 18:15] lfarah commented on #162
@piv199 how would you do it? I agree with you 100%

Wanna send your *Swiftier* version of this?
[code]

[2016-08-01 20:10] goktugyil commented on #163
Sounds good in that case

[2016-08-01 20:11] goktugyil commented on #140
How is the status of the errors?

[2016-08-03 21:16] GabrielCartier commented on #140
Sorry, been a bit busy, didn't have time to get back to you. Project is restarting soon and I'm a bit more free, I got a note to actually update that.

[2016-08-03 21:27] piv199 opened #166 "isOnlyEmptySpacesAndNewLineCharacters() 39characters lengths"
Just for testing string for not containing any useful information we need to call a 39-length method. Also I suggest to make it computable property instead of method.

Should we rename it to something like `isWhitespaced`
or
`isSpaced` (python-alike)
`isStripped`(python-alike)
`isBlank` (Java-alike)

[2016-08-03 21:46] piv199 commented on #163
I'll add it

[2016-08-05 07:41] goktugyil commented on #166
I like is blank. Does this method give a warning or anything? I have no problem writing it cause of auto complete atm. If I start to type empty space, or new line, I just get the proper method.

[2016-08-05 09:47] piv199 commented on #166
@goktugyil yes, but it looks ugly

[code]

Well, I'm for that if it's short enough than it's good, otherwise it's bad.
So we could make a method isBlank and leave isOnlyEmptySpacesAndNewLineCharacters() if someone wants to use such long method name.

[2016-08-06 08:00] goktugyil commented on #166
You convinced me, go ahead.

[2016-08-06 14:17] piv199 commented on #163
@goktugyil

Have 3 different ideas what to do
The first is to add methods to NSFileManager instance, it's clear and everybody can remember it
[code]
The second one is to add to NSURL and String, but not the best solution I think
[code]
The third is to create a separate class and give it some necessary methods (like enumerate files, has file, create/remove file). So something similar to NSFileManag

[2016-08-06 14:17] #166 closed

[2016-08-07 05:17] goktugyil commented on #163
I haven't checked but probably there are other good open source libraries that work on this. Most likely they will seem like no3. How about getting ideas and features from there and implement them like no1?

[2016-08-12 07:48] lfarah opened #169 "Better UIImage resizing"
Nowadays, to resize an UIImage, we gotta use this:
[code]
In the example above, we're creating another UIImage from our UIImage, which is kinda confusing. In my opinion, we can make it better:
[code]

What do you guys think? 🤔

[2016-08-12 08:06] goktugyil commented on #169
Possibly scaling a current uiimage might have some issues with it, need to double check that

[2016-08-12 13:11] piv199 commented on #169
@lfarah well, you shouldn't change the object if it marked as let. but maybe it should have two methods - 1 for changing the object, and for returning new one.

[2016-08-20 15:10] Yu-w commented on #134
Added a bunch of handy function to NSDate Extension #176

[2016-08-20 21:51] piv199 opened #178 "Slack/Gitter"
Hi, I just thought whether it would be great to have Slack/Gitter so we could simplify communication of developing, improving this library.

Well, I suppose this will involve some new people to help improve library.

Maybe, just give a try. What do you think? Thumbs up/down, please :)

[2016-08-21 06:09] lfarah commented on #178
[Gitter](https://gitter.im/) is also used a lot for open source libraries' communication

[2016-08-25 08:47] goktugyil commented on #178
https://gitter.im/EZSwiftExtensions/Lobby
here it is

[2016-08-25 08:49] #178 closed

[2016-08-25 13:41] goktugyil commented on #110
If anything breaks lets keep in mind that it was the order.

[2016-08-25 13:41] #110 closed

[2016-08-25 16:43] goktugyil opened #183 "Stop adding new features, start adding more tests!"
This is our test coverage at the moment. [Test Coverage](http://image.prntscr.com/image/8641005c999b4698a3dafcff8d8ac73a.png)

At this point, stability and optimization is more important than new features. So if you want to contribute:
- Copy the real life scenarios in readme.md into unit tests or vice versa (Very easy and beginner friendly)
- Add new tests to uncovered methods
- Optimize speed/sy

[2016-08-25 21:56] lfarah commented on #183
We should use [Danger](http://danger.systems/) to automatically fail a pull request if it doesn't include tests, as well as a bunch of other stuff

[2016-08-25 21:57] lfarah commented on #183
So if you can create all the testing files, we can start opening issues for everything that is missing

[2016-08-26 05:24] goktugyil commented on #183
Testing files are ready. Just needs to be filled, so thats like 40 issues. I'd rather people choose one file at a time and write tests for it, send a pull request than start working on another file. Kind of like  how piv199 is doing

[2016-08-28 14:17] goktugyil opened #187 "Some date extensions should be class functions"
Some date extensions should be class functions, there is no need to create a new nsdate() object imo.

[2016-09-06 07:33] lfarah commented on #140
@conradev talks on [this link](https://realm.io/news/altconf-conrad-kramer-writing-iOS-sdk/) about the usage of libraries in Extensions:
![screen shot 2016-09-06 at 12 31 05 am](https://cloud.githubusercontent.com/assets/6511079/18265206/505785e4-73c9-11e6-9ed3-e286e3e8b89e.png)

[2016-09-12 16:49] NemOry opened #191 "Swift 3 Support on the way?"
Hi guys... I can't wait when you will support Swift 3. I've upgraded to XCode 8 already.. Hope that the update is very soon :) thanks for the great library

[2016-09-12 18:32] lfarah commented on #191
Hey @NemOry, [we already have a Swift 3 branch](https://github.com/goktugyil/EZSwiftExtensions/tree/Swift3)

[2016-09-12 18:32] #191 closed

[2016-09-12 23:56] chlela commented on #191
@lfarah I've installed the branch through cocoapods  `pod 'EZSwiftExtensions', :git => 'https://github.com/goktugyil/EZSwiftExtensions', :branch => 'Swift3'` and I'm still getting compile errors. What am I missing?

[2016-09-13 04:58] lfarah commented on #191
I pushed Swift 3 branch with a few errors I couldn't solve. @goktugyil said he'd take a look and fix them

[2016-09-14 05:26] 4ndrey opened #192 "xcode8 compatibility"
your pod is not usable under xcode8, please support new swift updates.

[2016-09-14 06:23] 515783034 commented on #192
please support new swift updates.

[2016-09-14 16:48] odedharth commented on #192
is the branch Swift3 ready?

[2016-09-14 17:52] Luccifer commented on #192
Looks like nope... At least 60+ errors by compiling any type of branches

[2016-09-14 21:14] goktugyil commented on #192
https://github.com/goktugyil/EZSwiftExtensions/issues/191

I won't have access to a computer for a week. Feel free to send pull requests about the errors. I imagine they would be simple syntax changes, with a few exceptions on some serious changes in uikit framework.

If you guys don't want to go through all that trouble, I think there is way to specify something like "Use Swift2.2 compiler for th

[2016-09-15 02:24] adhiravishankar commented on #192
#193

[2016-09-15 04:01] adhiravishankar commented on #192
#194

[2016-09-15 04:34] lfarah commented on #192
Guys, #194 isn't working right now.

I took some methods off and updated to Swift 3 [in my fork](https://github.com/lfarah/EZSwiftExtensions)

You can use on Cocoapods doing the following:
[code]

[2016-09-15 04:35] lfarah commented on #192
Let me know if you guys run into any problems!

[2016-09-16 20:26] Sweeper777 opened #195 "Don't override existing methods like forEach!"
I just updated the pod to version 1.6 and found that there is a new `forEach` method. This method name clashes with the existing `forEach` which takes the following signature:

    public func forEach(@noescape body: (Self.Generator.Element) throws -> Void) rethrows

while the EZSE version has this signature:

    public func forEach(call: (Int, Element) -> ())

This breaks a lot of my existing co

[2016-09-16 20:28] lfarah commented on #195
@Sweeper777, @adhiravishankar is working on a fixed version. After he fixes that, I'll be able to make those changes

[2016-09-16 20:29] Sweeper777 commented on #195
Thanks!

[2016-09-19 01:49] Z-JaDe opened #197 "How to use in Swift3.0？I'm going crazy"

[2016-09-19 07:35] lfarah commented on #197
Hey @Z-JaDe, don't worry 😉
As I said in #192, you just need this in your **Podfile**:
[code]

[2016-09-19 07:35] #197 closed

[2016-09-19 07:39] Z-JaDe commented on #197
@lfarah
I have already done so, thank you for your contribution

[2016-09-19 07:42] lfarah commented on #109
Hey @paulz, do you still have problems with this?
I'll reopen the issue if you still need help

[2016-09-19 07:42] #109 closed

[2016-09-19 07:43] lfarah commented on #140
Hey @GabrielCartier, do you still have problems with this?
If you still need some help, I'll reopen the issue

[2016-09-19 07:43] #140 closed

[2016-09-20 04:08] mengheangrat opened #200 "backgroundImage"
setter for 'backgroundImage' with Objective-C selector 'setBackgroundImage:' conflicts with method 'setBackgroundImage' from superclass 'UIViewController' with the same Objective-C selector

[2016-09-20 21:21] piv199 commented on #192
Swift 3 branch should work.

[2016-09-23 15:21] v-silin opened #204 "Swift 3"
Hi.

Do you have any plans about swift 3?

Best regards.

[2016-09-23 17:30] lfarah commented on #204
Hey @v-silin, we updated to Swift 3 but we're currently having problems on pushing to CocoaPods. Please use the following:
```  pod 'EZSwiftExtensions', :git => 'https://github.com/goktugyil/EZSwiftExtensions.git'```

Let me know if you need anything else! 😉

[2016-09-23 17:30] #204 closed

[2016-09-23 17:50] v-silin commented on #204
Cool! Thank you!)

[2016-09-24 19:39] piv199 commented on #195
for in with indexes in Swift 3.0 looks like:
[code]

So, possibly, `forEachEnumerated`, `forEnumerated`?

[2016-09-24 19:53] Sweeper777 commented on #195
I would prefer the former.

[2016-09-25 19:11] AdamSliwakowski opened #205 "keyboardWillShowWithFrame and similar should be marked as open"
Right now there is no possibility to override `keyboardWillShowWithFrame` because it is marked only as `public`.

[2016-09-25 20:17] piv199 commented on #205
@AdamSliwakowski Thanks for opening issue, are there any related `public` instead of `open` functions?

[2016-09-26 18:53] goktugyil commented on #192
So there has been few people who converted this to Swift3 without pulling from the latest version. As a result a lot of the new features/methods/tests have disappeared.

I'm going to reconvert the whole thing starting from #190 in a separate branch, then merge it in master. This shouldn't affect the master branch or people who has their projects working.

[2016-09-26 18:56] piv199 commented on #192
@goktugyil I've done it in #198 it was based on #190, fixed for swift 3.0 and merged with #194 then.

[2016-09-27 07:42] goktugyil opened #207 "Swift3StrikesBack: NSDateTests"
NSDateTests

`fileprivate func < <T : Comparable>(lhs: T?, rhs: T?) -> Bool {
`
Should be removed. The method below is using that part. If we really need this "<", and it seems useful, lets add it to NSDateExtensions, in that case the tests should not test using another extension.

[code]

[2016-09-27 07:56] goktugyil commented on #207
[code]
Apple stealing our extensions 👍

[2016-09-27 07:56] goktugyil commented on #207
https://github.com/goktugyil/EZSwiftExtensions/commit/5572c5cbccfaeaceead4be4282097349be5b9ce7

[2016-09-27 07:57] #207 closed

[2016-09-27 07:57] piv199 commented on #207
It's not NSDate dependent, it's generics. It can compare everything that could be nil or not.

let a: Int? = 5
let b: Int? = nil

a < b //false

[2016-09-27 08:00] goktugyil opened #208 "String countable close range"
http://prntscr.com/cmumyd

[2016-09-27 08:04] piv199 commented on #208
From #196

[code]

[2016-09-27 08:10] goktugyil opened #209 "EZSwiftFunctions"
I think globalMainQueue, globalUserInteractiveQueue etc aren't useful anymore. We should deprecate them.

http://prntscr.com/cmuqp0

[2016-09-27 08:33] goktugyil opened #210 "Array.reverseIndex"
piv199 11 hours ago
What if index < 0?

Need tests for negative numbers.

[2016-09-27 09:51] goktugyil opened #211 "Swift3 Documentation Comments"
[code]

The comment is not showing up on auto complete, what is the problem?

[2016-09-27 10:11] goktugyil commented on #209
Done

[2016-09-27 10:11] #209 closed

[2016-09-27 10:18] goktugyil commented on #195
piv199 13 hours ago
Must be renamed e.g. to forEachEnumerated due to collision

[2016-09-27 10:21] goktugyil commented on #207
Thats even better

[2016-09-27 10:21] goktugyil commented on #208
Feel free to implement this, with proper tests

[2016-09-27 10:48] goktugyil commented on #195
https://github.com/goktugyil/EZSwiftExtensions/commit/a6aed390f01aa5f9c685566636b2c86251a30078

This is what we wanted right?

[2016-09-27 10:48] #195 closed

[2016-09-27 11:12] piv199 commented on #211
Maybe because Apple implemented HeaderDoc in Xcode 8?

Select method and press Option+Command+/

It will generate /* */ header doc comment

[2016-09-27 13:15] goktugyil commented on #211
No it created a /// header doc comment

[2016-09-27 13:22] piv199 commented on #211
@goktugyil yeah, that's strange. Need more investigation...

[2016-09-27 14:51] goktugyil commented on #204
Sorry for the delay, just released a stable version for Swift 3.0

[code]

[2016-09-27 14:52] goktugyil commented on #192
Sorry for the delay, just released a stable version for Swift 3.0

[code]

[2016-09-27 14:52] #192 closed

[2016-09-27 15:09] Luccifer commented on #192
You are the best!

[2016-09-27 19:49] piv199 opened #213 "Move some array extensions to Collection/Sequence protocol"
.reserved (need to think what where to move)

[2016-09-27 20:42] piv199 commented on #210
[code]

But what for the expected values?

[2016-09-27 22:10] piv199 commented on #213
Dict seems not to be good fitted for `containsType(of:)`
But Set fits great.

[code]

[2016-09-27 22:34] piv199 commented on #213
[code]

[2016-09-28 03:44] matthew-reilly commented on #204
Seems like the 1.6 version for Swift 2.2 is broken. Getting ~3000 errors on build. :/

[2016-09-28 07:17] piv199 opened #214 "Add Array extensions"
`distinct` - returns  array with no repeating values [(stackoverflow)](http://stackoverflow.com/questions/27624331/unique-values-of-array-in-swift). (Equatable).

[2016-09-28 08:26] goktugyil commented on #204
@matthew-reilly I'm using 1.6 and have been using it for 2 months. It is working properly. Are you using Xcode8? Or Maybe Swift2.3?

[2016-09-29 07:00] rickyngan opened #216 "Change all M_PI to CGFloat.pi for Swift 3.0"
For old versions of Swift, you use M_PI to refer to the pi constant. Swift 3 integrates the pi constant in the Float, Double and CGFloat types:

Float.pi
Double.pi
CGFloat.pi

[2016-09-29 18:02] DesmondPang opened #217 "imageWithUrl(url: String) not update imageView instantly"
It needs to assign the image in main thread otherwise it will not update the imageview.

[code]

[2016-09-29 22:38] lfarah opened #221 "Add Danger.systems"
We should use [Danger](http://danger.systems/) to automatically fail a pull request if it doesn't include tests, as well as a bunch of other stuff.

[2016-09-29 22:39] lfarah opened #222 "Add codecov"
We should integrate [codecov](https://codecov.io/) to check how's the code coverage on each pull request

[2016-10-01 07:59] lfarah commented on #222
Yay, it works! 🎉
<img width="807" alt="screen shot 2016-10-01 at 12 57 45 am" src="https://cloud.githubusercontent.com/assets/6511079/19012710/3ee82f72-8772-11e6-990f-24c39fe80f13.png">

[2016-10-01 07:59] #222 closed

[2016-10-01 08:07] piv199 commented on #221
@lfarah https://github.com/fastlane/fastlane/blob/master/Dangerfile

as example

[2016-10-01 20:34] piv199 opened #227 "Add Swift Package Manager"
https://swift.org/package-manager/#example-usage

[2016-10-01 20:52] #227 closed

[2016-10-02 07:26] lfarah opened #228 "Timer.runThisEvery() should return a Timer instead of CFLoopTimer"
Right now the ```Timer.runThisEvery()``` works like this:
[code]

Because it is returning a ```CFRunLoopTimer```, we can't do timer.invalidate().

# How to fix it
Replace ```CFRunLoopTimer``` with ```Timer```

[2016-10-02 07:28] lfarah opened #229 "Double.getRoundedByPlaces() and .roundByPlace() don't work"
Because of new Swift 3 methods, it doesn't work.

# How to fix it:
[This stackOverflow answer](http://stackoverflow.com/a/32581409/2938877):
[code]

[2016-10-03 11:22] Xopoko opened #230 "hideKeyboardWhenTappedAround Cant tap on cell"
After add this method to viewDidLoad, i cant tap to my tableView cell. Long tap highlights cell, but didTap not working. Superclass is UIViewController.

[2016-10-03 19:00] lfarah commented on #230
@Xopoko Are you using Xcode 8?

[2016-10-04 09:59] Xopoko commented on #230
@lfarah Yes

[2016-10-04 20:25] #216 closed

[2016-10-04 20:44] #210 closed

[2016-10-04 21:14] lfarah opened #232 "UIImageView Extension imageView.imageWithURL() renaming"
As discussed in #220, we should:
1. Change the name to ```imageView.image(urlString:...)```
2. Add an initializer: ```UIImageView(urlString: String)```

[2016-10-05 20:33] GabrielCartier commented on #140
Sorry, project kind of stopped on this.

I'm working back on it now, I'll try to give it some time and get back to you with some specific things if there are needs!
Thanks!

[2016-10-05 21:14] lfarah commented on #140
Thanks!

[2016-10-06 07:04] goktugyil commented on #221
Done?

[2016-10-06 07:07] goktugyil commented on #228
Wait, why can't we invalidate again?

[2016-10-06 07:08] lfarah commented on #228
Not at the moment because ```CFRunLoopTimer``` doesn't have a ```.invalidate()```.
We need to change it to ```Timer```, which has a ```.invalidate()```

# Before
[code]

# After

[code]

[2016-10-06 07:09] lfarah commented on #221
Yup.

[2016-10-06 07:09] #221 closed

[2016-10-06 07:12] goktugyil commented on #216
Thanks 👍

[2016-10-06 17:34] Rashesh-Bosamiya opened #239 "Swift 3 support"
Is this upgraded to swift 3?

If yes, what is to be write inside Podfile in order to download?

[2016-10-06 17:36] lfarah commented on #239
Hey @Rashesh-Bosamiya, EZSwiftExtensions is compatible with Swift 3.
Please add the following to your Podfile:
[code]

Let me know if you have any other questions! 😉

[2016-10-06 17:36] #239 closed

[2016-10-06 18:18] lfarah opened #240 "Change global variables for tests"
As @goktugyil says in #225, it is better to have the variables inside tests instead of being global for the whole class

[2016-10-07 15:16] lfarah opened #242 "New Danger tests"
so now we need to find a way to
* Ensure documentation in the method by checking for ///
* Ensure that each new PR of a new extension has a Test.

I have an idea on how to easily do number 2: We need to have a [Pull Request Template](https://github.com/vsouza/awesome-ios/blob/master/.github/PULL_REQUEST_TEMPLATE.md) and if the user checked ```[X]``` for ```New extension```, we ensure tests

[2016-10-07 15:16] #229 closed

[2016-10-07 16:25] piv199 commented on #242
My drafts
- On added file count or check modifying pbproject file
- Big PR, total lines out of 150-200 or more?
- If sources modyfied and changed symbols more than x, change changelog, or check PR if its #trivial
- swiftlint errors
- Work in progress PR
- forbid changing some files or include some text in PR if not a collaborator
- if PR is not mergable, warn, but it may be obvious by github

[2016-10-08 08:27] piv199 commented on #217
Done, will be available in v1.8

[2016-10-08 08:27] #217 closed

[2016-10-09 06:29] lfarah commented on #242
[Danger Xcode Summary Plugin](https://github.com/diogot/danger-xcode_summary) - A Danger plugin that shows all build errors, warnings and unit tests results generated from xcodebuild.

[2016-10-16 14:19] furuyan commented on #230
@Xopoko
Maybe this issue is same as this
http://stackoverflow.com/questions/8192480/uitapgesturerecognizer-breaks-uitableview-didselectrowatindexpath

[2016-10-17 19:15] #228 closed

[2016-10-18 07:28] Khalian commented on #214
https://github.com/goktugyil/EZSwiftExtensions/pull/254

[2016-10-18 07:42] goktugyil commented on #230
Oh here in the comments of my answer a lot of people talked about this issue:
http://stackoverflow.com/questions/24126678/close-ios-keyboard-by-touching-anywhere-using-swift/27079103#27079103

[2016-10-18 21:01] Khalian commented on #214
Can we close this if this is resolved?

[2016-10-18 21:12] #214 closed

[2016-10-25 11:07] rx2130 opened #267 "How to get the keyboard height"
I was able to add and move notification related to keyboard show/hide cycle. But when I tried to override `keyboardWillShowWithFrame`, it shows an error **overriding non-open instance method of its defining module**.

So I tried to change the source code `keyboardWillShowWithFrame` from `public` to `open` to be able to override it. But yet it still complains the same error. Can you let me know the

[2016-10-25 13:14] piv199 commented on #267
@rx2130 I think extension should also be marked open?

[2016-10-25 13:23] piv199 commented on #267
The bug itself mentioned in #205

[2016-10-25 13:23] piv199 commented on #267
The bug itself mentioned in #205

[2016-10-25 13:23] #267 closed

[2016-10-26 21:12] lfarah opened #268 "README Cleanup"
I think it's time for us to rewrite our `README.md`, because it is too big and confusing.

I think this is a big thing and it's open for discussion.

My idea:
- Do a **simple** README like [this one](https://github.com/lfarah/awesome-iOS-contributions/blob/master/README.md), with the most common extensions (like Dictionary, array and String)
- For more documentation, ask the user to [Go to our Coc

[2016-10-26 21:13] lfarah commented on #162
@piv199 any updates on this? Let me know if you need help! 😉

[2016-10-26 21:14] lfarah commented on #163
@goktugyil any updates on this?

[2016-10-26 21:15] lfarah commented on #169
@piv199 makes sense. Maybe we should leave it as it is for now....

[2016-10-26 21:15] #169 closed

[2016-10-26 21:15] lfarah commented on #205
@piv199 can we close this?

[2016-10-26 21:17] piv199 commented on #205
@lfarah Not yet

[2016-10-26 21:29] lfarah commented on #211
This is an Xcode bug. @goktugyil wanna open a radar?
If you right click the method, the documentation still shows up, so it's not any problem on our lib.

<img width="501" alt="screen shot 2016-10-26 at 2 27 44 pm" src="https://cloud.githubusercontent.com/assets/6511079/19745849/6a0fca0a-9b88-11e6-9007-7a63937b1d3a.png">

[2016-10-26 21:29] #211 closed

[2016-10-26 21:39] lfarah opened #270 "UIColoredView"
Today we have an `UIColoredView.swift`, that returns a 100x100 `UIView` with a random `UIColor`.

@goktugyil created this and I'd like to question if it is really necessary for **EZSwiftExtensions** since I don't see many use cases for this, especially because we already have extensions that already make it easy to do it:

[code]

[2016-10-28 18:51] goktugyil commented on #268
That simple is too simple 😁  but I like the idea in general. This might be one of the longest readmes in a popular repo.

I think to show a user how this can be valuable, we can put the extensions that solve the most common, most annoying problems in swift.

Then if they are interested they can read the full version from a link.

I also think that providing real life examples, instead of the class

[2016-10-28 18:54] lfarah commented on #268
Totally agree with @goktugyil. Let's come with common examples we use on our day-by-day coding

[2016-10-28 18:54] lfarah commented on #270
@goktugyil?

[2016-10-28 18:57] goktugyil commented on #163
@lfarah I didn't have a chance to work with documents in a long time and not familiar enough with the current conventions.

https://github.com/goktugyil/EZSwiftExtensions/blob/4a66ff4ae759cdfdde599cdf98a60da8d1145823/EZSwiftExtensionsTests/NSURLTests.swift

Also some commented code here.

[2016-10-28 19:01] goktugyil commented on #211
Yeah Xcode bug.. Nothing we can do except radar.

[2016-10-28 22:07] goktugyil commented on #268
Heres my list:

toInt

array.get array.containsType, array.random, array.indexes, array.containsarray,
blockbutton(xywh action) { }
double.tostring double.toint
cgrect(xywh)
bool.toggle
uiview(xywh)
ez.topMostVC
string.length, string.capitalizefirst, string.trim, string.isemail, string.toint
uicolor(rgb)
ez.runThisEvery
ez.runThisAfterDelay
ez.runThisInBackground
ez.runThisEvery
ez.appBuild
ez.app

[2016-10-28 22:09] goktugyil commented on #270
Nope, its not necessary. Helped a bunch while testing some stuff, but its not helping a lot and not used alot, so we can delete it.

[2016-10-29 07:08] #208 closed

[2016-10-30 17:17] #230 closed

[2016-10-31 05:31] lfarah opened #281 "NSDictionary Tests"
We have a problem on ```NSDictionaryExtensions.swift``` test coverage.

#### NSDictionaryExtensionTests
[code]

#### Coverage
<img width="876" alt="screen shot 2016-10-30 at 10 29 45 pm" src="https://cloud.githubusercontent.com/assets/6511079/19845070/8fe7cdf2-9ef0-11e6-867a-f8db1428f753.png">

[2016-10-31 16:42] furuyan opened #285 "Some file names should drop NS Prefix"
Some file names and implementations isn't match.
e.g.
[code]

So i think we should rename some files.

Target is below.

- NSBundleExtensions.swift
- NSDateExtensions.swift
- NSUserDefaultsExtension.swift
- NSTimerExtensions.swift
- NSURLExtensions.swift
- each test file

[2016-10-31 16:48] lfarah commented on #285
Thanks for pointing that out! I always saw that but never remembered to open an issue.
@goktugyil: we need to come up with a way that doesn't break everybody's projects

[2016-10-31 17:29] piv199 commented on #285
@lfarah we just can rename files and it will not break projects at least which uses cocoapods/carthage.

P.S. the same. I always see, but always forget :)

[2016-10-31 17:29] piv199 commented on #281
Hm, what it could be?

[2016-10-31 17:32] lfarah commented on #281
@piv199 I'm thinking about it now... Should we have NSDictionaryExtensions at all? [Ray Wenderlich's Style Guide](https://github.com/raywenderlich/swift-style-guide#types) says this:
## Types

Always use Swift's native types when available. Swift offers bridging to Objective-C so you can still use the full set of methods as needed.

**Preferred:**
[code]

**Not Preferred:**
[code]

[2016-10-31 17:33] lfarah commented on #285
@piv199 but we still need to rename the classes and that will definitely break a looot of things

[2016-10-31 18:10] piv199 commented on #285
@lfarah What classes are you gonna rename that will break compatibility?

[2016-10-31 18:12] lfarah commented on #285
@piv199 it's not compatibility, but if people were using... hmmm thinking about it, it really doesn't matter because in Xcode 8 the compiler won't let you use, for example, ```NSTimer```. Even if we currently have ```NSTimerExtensions```, they already work on the ```Timer``` class.
Summarizing my thoughts: true, it won't break anything

[2016-11-01 10:18] goktugyil commented on #285
So the compiler will think we're extending NSTimer whether we extend NSTimer or Timer?

[2016-11-02 05:24] Khalian commented on #285
IIRC the NS namespace is a legacy and is no hurry to be replaced.

In my opinion the since files are not exposed to the consumer it does not make any difference to the end user.

e.g no one would use import NSBundleExtensions

Moreover if the underlying data type retains the NS prefix, it will end up confusing contributors on what exactly is being extended.

[2016-11-02 18:53] Khalian opened #288 "Should we have a waffle board for tasking?"
https://waffle.io/

Or are github issues sufficient?

[2016-11-02 18:57] lfarah commented on #288
I think Github issues are enough since we are an Open Source library.

[2016-11-02 19:07] lfarah commented on #285
@goktugyil do you wanna open a PR since it involves file changing?

[2016-11-03 07:14] piv199 commented on #288
@Khalian We could use Github Projects, can't we?

[2016-11-03 07:14] #288 closed

[2016-11-03 11:46] goktugyil commented on #285
Sure

[2016-11-03 16:11] goktugyil commented on #187
https://github.com/erica/SwiftDates/tree/master/Sources
Some cool date stuff

[2016-11-03 16:15] goktugyil commented on #285
Forgot to open a branch, oh well.

https://github.com/goktugyil/EZSwiftExtensions/commit/f489f13e8caeecfb6a1437ed8f95f702d86bb342
https://github.com/goktugyil/EZSwiftExtensions/commit/fe49760a56eba0559f85f4c8a626bbd32af355a0
https://github.com/goktugyil/EZSwiftExtensions/commit/545280584f827b84d4dce65b3061ce2e4dde58e8
https://github.com/goktugyil/EZSwiftExtensions/commit/cece3c172ac9bc872bbd6b9e30

[2016-11-03 16:17] goktugyil commented on #285
Thanks @furuyan

[2016-11-03 16:17] #285 closed

[2016-11-03 16:32] goktugyil commented on #285
We can possibly change nsurls in url file to no prefix urls, not sure if those would break anything or not.

[2016-11-03 16:33] goktugyil opened #289 "Edit readme to reflect to the removal of NS prefixes from some files"
https://github.com/goktugyil/EZSwiftExtensions/issues/285

[2016-11-03 20:15] Khalian commented on #288
@piv199 Yea we can.

I meant for the sake of organizing non trivial tasks.

[2016-11-05 19:49] vilapuigvila opened #297 "I can't push a new branch."
Hi everyone!
I'd like to contribute to this repo and today I've not been able to push my branch, I got this message:
remote: Permission to goktugyil/EZSwiftExtensions.git denied to vilapuigvila.
fatal: unable to access 'https://github.com/goktugyil/EZSwiftExtensions.git/': The requested URL returned error: 403
Thanks in advance.

[2016-11-05 19:54] lfarah commented on #297
Hey @vilapuigvila, I'm glad you want to contribute. Every help is always welcome.
In order to send a contribution, you will have to fork the repository and then send a Pull request from your branch in your fork to the master in EZSwiftExtensions.

If you need help, I'm here for you! 😃 👍

[2016-11-05 20:26] Khalian commented on #297
Hi @vilapuigvila. So you need to be on a collaborator status to publish to public repositories.

Try forking this repo, make changes there are use the Github pull request feature for people to review your changes. Once you get approvals (after review process is over), a collaborator will merge the changes into mainline.

Hope this helps.

[2016-11-05 20:29] Khalian commented on #268
Would this imply a github website that keeps the other changes?

[2016-11-05 20:31] lfarah commented on #268
@Khalian http://cocoadocs.org/docsets/EZSwiftExtensions/1.7/

[2016-11-05 22:38] vilapuigvila commented on #297
Hi @lfarah @Khalian thanks for your fast awsers. Perfect I'm going to try  to do it.
Thanks

[2016-11-06 17:07] #297 closed

[2016-11-10 08:39] goktugyil opened #307 "Downloads per month image"
https://github.com/QuickBlox/quickblox-ios-sdk

This sdk has it, lets put it in here too

[2016-11-10 09:36] lfarah opened #308 "deprecate PrintFontFamily"
[code]
In my opinion, ```PrintFontFamily()``` should be deprecated because I don't see an use on a method that prints the font family. Instead, I would like to change it to this:
[code]

What do you guys think? 🤔

[2016-11-10 09:37] lfarah commented on #307
Yay! 🎉
 [![CocoaPods](https://img.shields.io/cocoapods/dm/EZSwiftExtensions.svg)](https://cocoapods.org/pods/EZSwiftExtensions)

[2016-11-10 09:46] piv199 commented on #242
On weekend will add support for trivial change and related changes

[2016-11-10 09:53] #134 closed

[2016-11-10 09:54] lfarah commented on #134
Closed this due inactivity

[2016-11-10 09:58] lfarah opened #310 "Deprecate setBackgroundColor from UIButtonExtensions"
This method is useless since ```UIButton.backgroundColor = .black``` exists since iOS 8.

[code]

[2016-11-10 10:01] piv199 commented on #310
@lfarah https://developer.apple.com/reference/uikit/uibutton

I can't find

[2016-11-10 10:08] lfarah commented on #310
Hmmmmm totally makes sense!

[2016-11-15 19:30] goktugyil commented on #310
Wait, lets not disregard this yet. There might be a better way to achieve this with shorter code in new swift. I'm not sure how but lets think about it.

[2016-11-18 02:05] HuaZao opened #317 "module compiled with swift 3.0 cannot be imported in swift 3.0.1"
How should I solve this error? I use Carthage  import  EZSwiftExtensions

[2016-11-18 02:07] HuaZao commented on #317
![image](https://cloud.githubusercontent.com/assets/13476604/20415993/dc108928-ad76-11e6-89f7-48662ca1e235.png)

[2016-11-18 10:28] lfarah commented on #317
Hey @HuaZao, I don't personally use Carthage, but I'll do my best on finding someone to help you on this!

[2016-11-20 16:04] furuyan commented on #317
@HuaZao
This error is due to framework that is built by old Swift version (Swift3.0).
So you should rebuild framework with latest Swift version (Swift3.0.1).
Would you execute following command?
[code]

[2016-11-20 22:45] Khalian commented on #317
Interesting, I wasnt aware that swift compilers are not backwards compatible across minor versions.

[2016-11-20 22:54] #268 closed

[2016-11-20 23:14] #308 closed

[2016-11-20 23:19] #270 closed

[2016-11-21 02:42] furuyan commented on #317
Swift 3.0 not having ABI(Application Binary Interface) compatibility.
https://github.com/apple/swift-evolution/commit/06b69a6e51a71a462c268da60b51a18966dba31b

[2016-11-21 14:52] gautier-gdx commented on #317
You need to tell Carthage not to use the build provided: carthage update --platform iOS --no-use-binaries
with this you will compile the framework on your computer automatically with your current version of Swift

[2016-11-22 03:08] #317 closed

[2016-11-22 03:16] Khalian commented on #317
Should we document this in the Readme.

[2016-11-22 03:44] furuyan commented on #317
I think it doesn't need.
Because it's not a general case.

[2016-11-23 09:08] lfarah commented on #289
Closing this because it was solved...

[2016-11-23 09:08] #289 closed

[2016-11-23 09:09] lfarah commented on #100
Closing this because of our new README

[2016-11-23 09:09] #100 closed

[2016-11-27 09:18] #307 closed

[2016-11-27 09:19] lfarah commented on #281
@goktugyil ?

[2016-11-27 09:58] Khalian opened #326 "Need to agree on a mocking framework to use for tests"
Certain tests (e. G ui device extensions) require a mocking framework. We need to decide on one.

[2016-11-28 06:32] lfarah commented on #326
@goktugyil what's your plan on that?

[2016-11-28 07:21] Khalian commented on #326
The main caveat of a traditional mocking framework is that swift is not support reflection for writes - http://blog.pragmaticengineer.com/swift-the-only-modern-language-with-no-mocking-framework/.

We might have to resort to compile time code generation - https://github.com/SwiftKit/Cuckoo. I am not sure if that is the right approach. As a degenerate case we might have to just write fakes manually

[2016-11-29 05:12] Khalian commented on #326
I believe the best way to approach this problem would be to write a prototype with a chosen framework (declare it before hand in this issue) and submit a pull request. If consensus is achieved we can declare that as our framework of choice.

I will pick  https://github.com/SwiftKit/Cuckoo for testing.

[2016-11-29 22:54] vilapuigvila commented on #162
I have this extension for that:
    public class func fromNib<T : UIViewController>() -> T {
        return T(nibName:String(describing: T.self), bundle: nil)
    }
and then you use:
let vc:SplashViewController = .fromNib()

[2016-12-01 00:40] lfarah commented on #162
@piv199 what do you think?

[2016-12-01 08:45] vilapuigvila commented on #162
then I create a manager first:
enum ViewControllersManager {
    /// Add more cases
    case splashVC
    case loginVC
    case signupVC
}

then ..
extension ViewControllersManager: RawRepresentable {
    typealias RawValue = UIViewController
    var rawValue: RawValue {
        switch self {
            case .splashVC:      let vc:SplashViewController      = .fromNib()
        return vc

[2016-12-09 09:41] goktugyil commented on #281
Whats the problem, I don't get it?

Changing this to standard Dictionary would work the same right? If it does no problem in changing it

[2016-12-11 10:01] lfarah commented on #281
@piv199 what do you think?

[2016-12-11 10:06] piv199 commented on #281
@lfarah I agree with @goktugyil, change everything to Dictionary 👍

[2016-12-11 10:27] lfarah opened #334 "Add JSON extensions to DictionaryExtensions"
These extensions were previously available for NSDictionary. Now we need to port them to the Swift Dictionary:
[code]

related to #333

[2016-12-11 19:25] goktugyil commented on #326
I agree with Khalian. Test a couple frameworks separately, merge the best one to master and continue using that.

[2016-12-11 21:19] Khalian commented on #334
https://github.com/goktugyil/EZSwiftExtensions/pull/335

[2016-12-11 21:24] Khalian commented on #334
GIven that Dictionary is a struct, I had to rethink the design of the methods a little bit. So its not a one to one translation of the methods.

[2016-12-13 07:40] #281 closed

[2016-12-13 08:07] lfarah commented on #200
Hey @mengheangrat, are you still having problems with this? Can you give me more info? I was unable to get an error

[2016-12-13 08:08] lfarah commented on #183
@goktugyil can we close this? We're about to hit 40% coverage

[2016-12-13 08:56] goktugyil commented on #183
40%? Thats still too low :(

[2016-12-13 08:56] #183 closed

[2016-12-13 08:57] lfarah commented on #183
@goktugyil I agree, but 40% is good enough for it to stop being our main focus.
The title of this issue is "Stop adding new features, start adding more tests!"

[2016-12-13 09:00] #334 closed

[2016-12-13 09:09] Khalian opened #337 "Discussions about cross platform support."
So I have always thought of EZSwiftExtensions as a standard library (kind of like Apache Commons).

Standard libraries of languages have the characteristic of being cross platform. So as a consequence I decided to investigate the feasibility of cross platform support.

I tried spinning up a docker container using  https://github.com/swiftdocker/docker-swift. After that I tried https://swift.org/pa

[2016-12-13 09:12] lfarah commented on #337
I believe our iOS framework should already come with both Foundation and UI Extensions. I don't think our iOS users should have to install both EZSwiftExtensions-UI and EZSwiftExtensions-Foundation directories separately.

[2016-12-13 09:21] goktugyil commented on #337
This issue was brought up about a year ago too. It wasn't ready at that time and there weren't enough non-Apple related uses of Swift back then.

I think instead of making 2 separate directories which will confuse the user, we could just add if cases and only compile the code the user can compile?

Like: ` #if os(iOS)`

Also version compatibility is another similar issue. Ideally the user should b

[2016-12-13 09:23] lfarah commented on #337
I agree with everything but the last paragraph. I think it will look like a shitshow with those ```#if swift(>=3.0)``` everywhere....

[2016-12-15 06:30] #232 closed

[2016-12-18 22:26] piv199 commented on #162
`let vc = LoginViewController.fromNib()`

Hm.. makes sense... Also, have something like

`let vc = LoginViewController.fromNib(named: "Login")`
`let vc = LoginViewController.fromNib(named: "LoginViewController", bundle: Bundle.self)`

@lfarah As for me, I like this 👍

[2016-12-18 22:28] piv199 commented on #163
Okay, so we need to add base functionality for directory, and if more advanced than use special library...

[2016-12-18 22:29] piv199 commented on #187
@goktugyil what extensions you are talking about?

[2016-12-18 22:30] piv199 commented on #205
Wow, I missed this issue, should be done in 1.8 or 1.8.1

[2016-12-19 07:28] goktugyil commented on #187
I think DateMath and DateUtils will be pretty useful. Also other extensions might give inspirations.

[2016-12-23 20:17] lfarah commented on #205
Just marked as 1.8.1

[2016-12-23 20:18] lfarah opened #346 "Push 1.8"
We finished all issues/PRs related to 1.8.

@goktugyil please push it to CocoaPods

[2016-12-23 21:18] Khalian commented on #346
If @goktugyil is busy, one of us can tag and create the release in github.

[2016-12-23 21:27] lfarah commented on #346
@Khalian but we can't create the release on CocoaPods

[2016-12-23 21:36] Khalian commented on #346
Yes, but we can draft the release in github at least.

[2016-12-24 08:02] goktugyil commented on #346
Done, feel free to edit the release title and descriptions

[2017-01-02 02:49] Khalian commented on #326
My status for this right now:-

Podfile :

 target 'EZSwiftExtensions-iOS' do
   platform :ios, '8.0'
   use_frameworks!
   pod "Cuckoo"
   project "EZSwiftExtensions.xcodeproj"
 end

I was able to get the Cuckoo sources down. However this seems extremely counterproductive (requiring the pod sources will add non trivial amounts of time to travis build).

Is there a maven equivalent to the IOS dev

[2017-01-02 02:56] Khalian commented on #337
Ok then should I go ahead and add #if os(iOS) on all UIKit classes (its a little concerning for me to make it architecture specific instead of separating the concerns into different folders).

[2017-01-03 03:43] otymartin opened #353 "Swift 3 Ambiguous use of .month .day .year"
These were working well in version 1.7 but version 1.8 spits out error `Ambigous use of....`

[code]

[2017-01-03 06:05] Khalian commented on #353
I tried reproducing your issue.

let dateOfBirth = Date()
        print(dateOfBirth.month)
        print(dateOfBirth.day)
        print(dateOfBirth.year)

And I was able to successfully get

1
2
2017

Which is as expected. Breakpoints revealed the right extensions are called.

These extensions were added as a part of release v1.8 in PR https://github.com/goktugyil/EZSwiftExtensions/pull/313.

I su

[2017-01-03 06:37] otymartin commented on #353
@Khalian Your right, it was conflicting with [SwiftDate](https://github.com/malcommac/SwiftDate)

[2017-01-03 06:42] Khalian commented on #353
Ok. I suspected as such.

We made many additions to Date. You can refer to them in https://github.com/goktugyil/EZSwiftExtensions/blob/master/CHANGELOG.md. If they cover your all your use cases, you can remove the dependency from SwiftDate and consume EZSwiftExtensions exclusively.

[2017-01-03 06:42] otymartin commented on #353
@Khalian Yea I must just go that route. Thanks

[2017-01-03 06:43] Khalian commented on #353
@otymartin No problem happy to help.

[2017-01-03 18:26] #353 closed

[2017-01-04 03:27] lfarah opened #355 "UIImage.base64"
Nowadays we have an extension that initializes an ```UIImage``` from a base64 String, but we don't have a way to easily convert an UIImage to base64

I'm currently in a project so I don't have time to open the PR. Will do it tomorrow
[code]

[2017-01-04 03:40] Khalian commented on #355
Just return UIImageJPEGRepresentation(self, 1.0).base64EncodedString(). The let is superflous.

[2017-01-07 10:55] vilapuigvila commented on #162
@piv199 @lfarah  how about that?
    class func fromNib<T:UIViewController>(type: T.Type) -> T {
        return T(nibName:T.self.className, bundle: nil)
    }

and then:
let vc = SplashViewController.fromNib(type: SplashViewController.self)

[2017-01-07 11:01] vilapuigvila opened #357 "String extesion to get image"
What do you think?
extension String {
    public func fetchImage() -> UIImage? {
        guard let image = UIImage(named:self) else {
            return nil
        }
        return image
    }
}

let image = "someImage".fetchImage

[2017-01-07 11:31] piv199 commented on #162
@vilapuigvila

`let vc = SplashViewController.fromNib(type: SplashViewController.self)`
why not  `let vc = SplashViewController.fromNib()`, if we already have T in function ?

[2017-01-07 11:34] piv199 commented on #357
I personally not recommend to use any String related stuff with Images, segues, reuseIdentifiers and so on. It's dangerous!

[2017-01-07 19:13] vilapuigvila commented on #357
and how do you manage segues, reuse Identifiers,  etc..?

[2017-01-07 19:30] piv199 commented on #357
@vilapuigvila I use R.swift

[2017-01-07 21:05] Khalian commented on #357
Yea I dont think there is any purpose to tie down UIImage to String extensions. UIImage is from UIKit which requires this method to be compiled with an #ios preprocessor around it. If anything this method might be suitable in extension UIImage.

[2017-01-07 21:28] #163 closed

[2017-01-07 21:39] Khalian opened #359 "Discussions about applying to apache incubator status"
http://incubator.apache.org/

@goktugyil @lfarah @piv199 Thoughts on the same ?

[2017-01-08 10:16] goktugyil commented on #359
Looks interesting. But its not clear what concrete value would they provide?

[2017-01-08 10:19] goktugyil commented on #337
Yeah, go ahead. But before check if there is an easier way of doing it, there just might be.

[2017-01-08 20:14] Khalian commented on #359
Well fame and traction for one (being either incubator or top level status in the ASF is a pretty big deal).

We have to switch to apache v2.0 license.

[2017-01-08 20:34] vilapuigvila commented on #162
I don't be able to get Type of UIVIewContreller inside function, any ideas?
Thanks

[2017-01-08 22:06] lfarah commented on #357
I also do not recommend using that. We already have [this extension](https://github.com/goktugyil/EZSwiftExtensions/blob/master/Sources/UIImageExtensions.swift#L109) that works pretty well

[2017-01-09 16:00] lfarah commented on #359
I'm down for it. We could schedule a Skype call to discuss it

[2017-01-10 01:07] lfarah opened #361 "Date.iso8601"
What do you guys think?
Got it from [this link](http://stackoverflow.com/a/28016614/2938877)

ISO8601 is a representation of dates and times is an international standard covering the exchange of date and time-related data. Many backend services like to use ISO8601, which looks like this:
```1990-01-01T00:00:00```

[code]

[2017-01-10 01:10] Khalian commented on #361
Is this internationalized ? I mean a comment for context pls.

[2017-01-10 01:12] lfarah commented on #361
@Khalian better?

[2017-01-10 01:16] Khalian commented on #361
I guess this a good idea. The only tricky part would be testing, since we do not know which time zone the travis ci build servers are. I assume we can test some custom dates and their iso8601 counterparts. Otherwise it looks good, I think you can go ahead and submit a PR.

[2017-01-13 00:09] goktugyil opened #362 "Docs example unclear"
"I really wonder why someone would prefer array.get(1) over array[1]. (1st example in Readme)"

Read this in reddit, should make this more clear

[2017-01-13 00:14] piv199 commented on #362
Are there any `array[safe: 1]` or `array.safe[1]`? This would really be better than `array.get(at: 1)` :)

[2017-01-13 01:17] lfarah commented on #326
I have almost zero knowledge in devops for iOS, so I don't think I can help much

[2017-01-13 01:18] lfarah commented on #326
@pixel4 any help?

[2017-01-13 03:34] pixel4 commented on #326
I'm not a fan of `Cuckoo` to be honest.

I know the question was more regarding the issue with having to download the pod source every time, so answering the right question: That's how `cocoapods` works, you can always commit the `/Pods` directory to solve this but I don't recommend doing so. Have you tried Carthage? It's not centralized like `cocoapods`, you could build `Cuckoo` framework and jus

[2017-01-13 14:34] lfarah opened #364 "UIViewController.setBackgroundImage is internal"
<img width="883" alt="screen shot 2017-01-13 at 12 33 58 pm" src="https://cloud.githubusercontent.com/assets/6511079/21933457/a3755bce-d98c-11e6-9648-43ea85f9783f.png">

[2017-01-16 07:07] Khalian commented on #326
@pixel4 The sole reason is to increase unit test coverage for most of the UIKit extensions.

[2017-01-16 07:12] Khalian commented on #364
https://github.com/goktugyil/EZSwiftExtensions/pull/367. And I am merging this in without approvals since this is a bug.

[2017-01-16 07:22] #364 closed

[2017-01-21 13:49] AppsIncorporated opened #369 "Add support for OSX"
Many of the extensions import UIKit. One option would be conditionally importing UIKit or AppKit like is done for String extensions. Better still would be a separating of extensions that rely on Foundation, AppKit, and UIKit so they are factored to the frameworks they add functionality to.

[2017-01-21 19:10] lfarah commented on #369
Hey @AppsIncorporated, please take a look at #337.

[2017-01-21 19:10] #369 closed

[2017-01-22 16:37] AppsIncorporated commented on #337
Thanks guys, this will be helpful. For my MacOS and Linux apps I've had to copy code into my project that could be based on Foundation rather than UIKit. I'll much prefer being able to use the code without having to modify it.

[2017-01-24 06:54] Khalian opened #370 "Swift Lint errors"
https://travis-ci.org/goktugyil/EZSwiftExtensions

I am suddenly witnessing a large number of swift lint issues. Not sure if lint is upgraded in travis CI or not.

[2017-01-24 06:54] Khalian commented on #359
Sure, whenever all the maintainers agree on a time.

[2017-01-24 11:57] lfarah commented on #370
[It upgraded in travis](https://github.com/goktugyil/EZSwiftExtensions/blob/master/.travis.yml#L15).
Please run `brew upgrade swiftlint` on your machine to see the new issues.
I'll try to send a PR fixing the issues

[2017-01-24 18:22] otymartin opened #372 "roundCorners ruins CollectionView"
@goktugyil @Khalian
I'm using [JSQMessagesViewController](https://github.com/jessesquires/JSQMessagesViewController)

When I use the `self.collectionView?.layer.cornerRadius = 5`. My `collectionView` stays intact however problem is this rounds all four corners.

<img width="319" alt="screen shot 2017-01-24 at 1 14 11 pm" src="https://cloud.githubusercontent.com/assets/2222881/22260440/41b47d3a-e23

[2017-01-24 18:27] lfarah commented on #372
Hey @TimOliver... Do you have any idea why that is happening? I remember that you lib deals with round corners

[2017-01-24 19:08] TimOliver commented on #372
Um, I'm not too sure where the 'roundCorners' property of the collection view is coming from, so I can't tell for sure what's happening.

But suffice it to say, setting the cornerRadius of a CALayer will round every corner. There's no way to selectively pick the corners that get rounded.

But you can get around this though by making a separate CALayer and then assigning it as the 'mask' property o

[2017-01-24 19:10] lfarah commented on #372
[It comes from here](https://github.com/goktugyil/EZSwiftExtensions/blob/master/Sources/UIViewExtensions.swift#L561)

[2017-01-25 04:44] #370 closed

[2017-01-28 19:06] lfarah commented on #359
Any weekday from 1pm - 2am (GMT-2) is perfect for me!

[2017-02-05 08:29] Khalian commented on #362
@piv199 Does the safety criteria involve throwing errors over segfaults ?

[2017-02-05 08:44] Khalian commented on #361
PR in https://github.com/goktugyil/EZSwiftExtensions/pull/375

[2017-02-05 08:51] Khalian commented on #326
@pixel4 Whats your take on increasing test coverage on APIs where mocking is necessary (e.g UIDeviceExtensions). I dont like code gen mockups either, but I dont see a way out short of creating my own stubs/spys.

[2017-02-05 09:48] piv199 commented on #362
@Khalian the same behaviour as get(at:)

[2017-02-07 23:23] Khalian opened #377 "Would it make sense to have a "benchmark" extension for all methods?"
Something along the lines of:-

   func executionTimeInterval(block: () -> ()) -> CFTimeInterval {
        let start = CACurrentMediaTime()
        block();
        let end = CACurrentMediaTime()
        return end - start
    }

Referenced from : https://gist.github.com/kristopherjohnson/4201fbe86473f6edb207

But here block can be any function (in essence executionTimeInterval is a higher order f

[2017-02-08 03:21] lfarah commented on #377
hmmmm.... I don't think I'd use that

[2017-02-08 04:10] pixel4 commented on #326
Exactly.. that's the only way out. On the projects I work on I usually have a system in place with protocols to allow stubbing but to be honest I mostly use on network related code.

[2017-02-08 07:13] goktugyil commented on #377
I might use it, I'm currently using this:

[code]

[2017-02-08 20:29] Khalian commented on #377
@lfarah So as a backend engineer I deeply care about profiling code. I have requirements that particular pieces of code do not exceed a particular time threshhold.

This extension would act as a profiling tool.

@goktugyil Yes this is a useful bit of code. What I was imagining is a higher order method that takes as an argument all possible methods and returning both the return value from the metho

[2017-02-08 20:30] #361 closed

[2017-02-12 16:06] Khalian commented on #326
Ok I will write something and send out a PR. Let the collaborators take a look at the writing custom shims approach.

[2017-02-12 16:22] Khalian commented on #377
Ok so XCTest Already has this :

open func measure(_ block: @escaping () -> Swift.Void)

Closing.

[2017-02-12 16:22] #377 closed

[2017-02-13 04:14] Khalian opened #380 "Graphs as custom data types"
http://waynewbishop.com/swift/graphs/

So this does not directly fit the mandate of extensions, but IMO adjacency lists and adjacency matrices are very common data structures that a lot of programmers reuse all the times.

What do you guys think about introducing basic Graph Data structures in this library?

[2017-02-13 04:18] lfarah commented on #380
Definitely makes sense. We'd create new classes? I don't think there's a problem in that since we already have things like the `BlockButton`, for example

[2017-02-13 04:19] Khalian commented on #380
Yes it would be new classes.

[2017-02-13 16:08] goktugyil commented on #380
Also grid system data type will probably useful. But the problem is it will only be used by a very low % of the users. And some people have a concern about unused features polluting the namespace.

So we should either think about it a little more or find a way to address this concern.

[2017-02-13 17:34] Khalian commented on #380
I would necessarily call it a grid. Its more of a representation for graphs.

To avoid pollution of namespaces, we can go with prefixing EZ (e.g. EZEdge or EZNode).

[2017-02-14 15:06] goktugyil commented on #380
We could also change the Block stuff into easy as well. Also I think it might be possible to implement the functionality of block buttons as extensions with swifts new version, not sure tho.

[2017-02-15 17:26] kevinmann opened #381 "Date from string - init(fromString:format:) not returning correct month."
I just noticed this bug while trying out the date functions. If I do something like this:

[code]

The outputs I get are incorrect, and both produce a date with a month value of 1.   In the code above:

**customDate1** prints:  `Optional(2016-01-11 05:45:12 +0000)`
**customDate2** prints: `Optional(2016-01-11 05:45:12 +0000)`

Edit: I am changed `dd-mm-yyyy` to `dd-MM-yyyy` for the format and it w

[2017-02-15 17:43] #357 closed

[2017-02-15 18:01] kevinmann opened #382 "Date.timePassed() returns string with Optional(xx) in it."
Using timePassed() on a date returns a string with Optional in it. For example:

[code]

The print from this shows as: `Optional(17) hours ago`

I can fix it crudely by adding ! to the returns in the function within DateExtensions.swift like this:

[code]

After that change the print for the code at the start correctly outputs like: `17 hours ago`

[2017-02-15 18:45] Khalian commented on #382
Thanks, I will write a PR for this change by EOD.

[2017-02-16 02:05] lfarah opened #383 "hideKeyboardWhenTappedAround blocks didSelectRowAtIndexPath"
when I activate the self hiding, I cannot use ```didSelectRowAtIndexPath```

UPDATE: There is a way to use ```didSelectRowAtIndexPath``` with `hideKeyboardWhenTappedAroundAndCancelsTouchesInView()`, but it isn't swifty enough.

The best would be to implement this for better naming purposes:
[code]

[2017-02-16 02:06] lfarah commented on #383
"This is one of the most helpful extensions I have ever come across! Thank you! The only caution I would extend is that this can interfere with didSelectRowAtIndexPath. – Clifton Labrum Apr 5 '16 at 6:46" - from [StackOverflow](http://stackoverflow.com/questions/24126678/close-ios-keyboard-by-touching-anywhere-using-swift)

[2017-02-16 02:08] lfarah commented on #383
Just discovered this question and implemented that method. That thing with "didSelectRow" of tableView/UICollectionView not calling literally drove me crazy. The solution is: Simply add this to your extension: tap.cancelsTouchesInView = false. That solved it for me at least. Hope this helps somebody – Quantm Jul 28 '16 at 10:27"

[2017-02-16 04:20] Khalian commented on #382
https://github.com/goktugyil/EZSwiftExtensions/pull/384

[2017-02-16 04:24] Khalian commented on #381
Cool, I will take a look at this tomorrow. Thanks for catching this bug and sorry for the inconvenience.

[2017-02-16 19:36] Khalian commented on #382
This issue has been fixed and is now in master branch.

[2017-02-16 19:36] #382 closed

[2017-02-18 23:14] Khalian commented on #381
Here is the PR for this https://github.com/goktugyil/EZSwiftExtensions/pull/385

[2017-02-18 23:14] Khalian commented on #372
This is not really my expertise, @lfarah is there something we can do here ?

[2017-02-19 11:26] DanielAsher opened #386 "deprecated forEach name collision"
Hi,
thanks for a great framework!

I'm having a problem that the deprecated `forEach` function is interfering with the standard library. This happens even though I have not added `import EZSwiftExtensions` at the top of the file in which the collision occurs.

This seems to be a general problem of namespace pollution that large extension libraries have. Has there been any discussion of factoring t

[2017-02-19 11:37] DanielAsher opened #387 "Consider refactoring to protocol extensions"
Hi,

as a follow on from #386 I wanted to know if any consideration has been given to refactoring the framework to use protocol extensions. This could allow per-file limited imports of specific features.

As an example, currently `Array.get` is defined as:
[code]

This seems to be imported into a file without any explicit `import EZSwiftExtensions` declaration.

Could this be refactored to:
[code]

[2017-02-19 11:37] DanielAsher commented on #386
I just follow up the second suggestion with #387

[2017-02-19 17:56] Khalian commented on #381
Hey we fixed this. Resolving.

[2017-02-19 17:56] #381 closed

[2017-02-19 17:59] Khalian commented on #387
@DanielAsher I get your concern. I believe the namespace pollution comes from adding the library as a target dependency in your code. Alternatively if you use something like pods, IIRC they pull the source down and there is a compilation conflict.

My only concern is breaking the existing userspace. @goktugyil @lfarah @piv199 - What do you guys think. If we take this up, we would have to dedicate

[2017-02-19 18:02] Khalian opened #388 "A shorter release this time?"
Our last release took longer. IMO releases should be frequent for OSS projects to formalize recent changes.

We have had some decent set of features of going in till now (not as much as 1.8 though). Would the maintainers be interested in releasing now ?

[2017-02-19 18:03] Khalian commented on #386
I replied in #387. @DanielAsher Would you mind if I close this thread and discuss on that one directly ?

[2017-02-19 18:15] Khalian commented on #359
So it solves the following problems

1. It enforces the meritocracy that we have agreed to on this forum instead of holding to a nucleus member (e.g Linus Torvalds of the linux foundation). This ensures with a certain degree of probability that the project does not die out if any of us decide to move on to other things.

2. The apache foundation provides legal and tech support for us (infrastructu

[2017-02-19 19:04] lfarah commented on #359
@goktugyil /\

[2017-02-19 19:27] goktugyil commented on #387
This would require heavy refactoring, will change the behaviour for all users. And I'm not sure if will actually work for all cases.

We try to differentiate extensions from standard libraries and make it clear with the docs that its an extension to minimize the problem.

[2017-02-19 19:30] goktugyil commented on #359
3 seems like the biggest benefit. Since the project is fully open source with collaborator permissions I don't see a case where it can die.

How do you find the champion?

[2017-02-19 19:32] goktugyil commented on #383
//Uncomment the line below if you want the tap not not interfere and cancel other interactions.
    //tap.cancelsTouchesInView = false

You've read this comment right?

[2017-02-19 19:34] goktugyil commented on #388
Am I the only one who can push a new release? I think at least in cocoapods I'm the only one, but I think I can add other maintainers too.

@piv199 @lfarah

Ready for release, agree/disagree?

[2017-02-19 19:39] lfarah commented on #388
I also agree we took to long to push a new release. [You can also add us as mainteiners](https://guides.cocoapods.org/making/getting-setup-with-trunk.html)

[2017-02-19 19:40] lfarah commented on #388
Just so we're organized, can we [add things to the project](https://github.com/goktugyil/EZSwiftExtensions/projects/1)

[2017-02-19 19:46] lfarah commented on #388
@Khalian did I miss anything? If not, please make a PR changing the `CHANGELOG.md``` to `1.9` and add a `1.9` tag, so @goktugyil can push it to CocoaPods

[2017-02-19 19:47] DanielAsher commented on #386
@Khalian - thanks for quick response

Please close - but perhaps simply suggest here a timeline for the removal of the colliding and deprecated methods. I, and perhaps other, are currently unable to use the standard library `forEach`when adding this framework as a target framework.

Cheers

[2017-02-19 19:49] lfarah commented on #386
Hey @DanielAsher, I definitely agree that we must find a quick fix for this because I had the same problem as you in a client's project

[2017-02-19 19:50] lfarah commented on #387
Can we at least find a quick fix for #386's `forEach`?

[2017-02-19 19:53] lfarah commented on #383
@goktugyil yes. The thing is that we must provide a solution on EZSwiftExtensions.
Maybe something like
```hideKeyboardWhenTappedAround(cancelTouches: Bool)```

What do you think?

[2017-02-19 19:59] lfarah commented on #372
I think that that's not something we can implement on EZSwiftExtensions, but @otymartin has to implement @TimOliver's answer on his code.
Closing this, but if there are any other questions, feel free to re-open

[2017-02-19 19:59] #372 closed

[2017-02-19 20:09] Khalian commented on #387
I presume the fix for this would be to remove this

    /// EZSE: Iterates on each element of the array.
    @available(*, deprecated: 1.6, renamed: "forEach(_:)")
    public func each(_ call: (Element) -> Void) {
        forEach(call)
    }

If yes I will remove it ASAP.

[2017-02-19 20:11] lfarah commented on #387
But if it's deprecated, why is @DanielAsher getting an error?

[2017-02-19 20:21] Khalian commented on #387
I dont know why he is still getting an error.

https://github.com/goktugyil/EZSwiftExtensions/pull/389

[2017-02-19 20:22] Khalian commented on #388
Yeah, that should we about it, I will try to post out the fixes and update the changelog and send a CR. Also tag the release to 1.9.

[2017-02-19 20:22] lfarah commented on #388
Perfect. Thanks @Khalian 👍

[2017-02-20 05:53] J053Fabi0 opened #391 "Swift 3"
Is this useful with swift 3?

[2017-02-20 05:55] lfarah commented on #391
@J053Fabi0 I use it in every single project with almost every single file I write in Swift 3!

Let us know how we can help you 😉

[2017-02-20 05:56] Khalian commented on #391
I do not understand your question. Is it to ask whether the library works with swift 3. The answer to that is yes. If you are interested in what value this library adds, you must identify the problem you have with your work and then ask whether there exists an extension here that solves it.

[2017-02-20 06:03] J053Fabi0 commented on #391
@lfarah Thanks!
And I have a question
How can I reload the ViewController of an app every time it gets open?
For example that I label with the text "Hello World" it becomes "Hello there"
I know it has nothing to do with the question but im tired of looking on the internet and found nothing.

[2017-02-20 06:05] lfarah commented on #391
hmmm you don't need to use EZSwiftExtensions for that. Just implement the `ViewWillAppear`:
[code]

[2017-02-20 06:13] J053Fabi0 commented on #391
When I click home button and open the app again is not setting label to the specified text.
I think viewWillAppear is used on NavegationViewController, right?

[code]

[2017-02-20 15:01] #391 closed

[2017-02-20 15:54] DanielAsher commented on #387
@Khalian - that for the quick PR and merge. I believe that deprecated extension methods still override standard library implementations.

Could you remove the following deprecated extension method from the library:
[code]

this should complete and close the issue.

Thanks!

[2017-02-20 17:48] Khalian commented on #387
Ok will do

[2017-02-20 17:58] Khalian commented on #387
https://github.com/goktugyil/EZSwiftExtensions/pull/392

[2017-02-20 20:36] DanielAsher commented on #387
One more! Please remove deprecated `removeAll`
So sorry didn't report this earlier.

[2017-02-20 20:42] #386 closed

[2017-02-21 03:47] Khalian commented on #387
Removed removeAll in PR.

[2017-02-21 06:25] furuyan commented on #383
@lfarah
The solution is already exists. `hideKeyboardWhenTappedAroundAndCancelsTouchesInView()`
If you implement above method, would you remove this method?

[2017-02-21 09:25] goktugyil commented on #391
These types of questions are more appropriate in stack overflow

[2017-02-21 09:35] DanielAsher commented on #387
It looks like Swift 3.1 will greatly simplify refactoring to finely-grained protocol extensions with https://bugs.swift.org/browse/SR-1009 being implement. Constrained extensions allow same-type constraints so refactoring StringExtension.swift simply requires:
[code]

[2017-02-21 13:19] goktugyil commented on #388
@lfarah You have pod access now, you should push 1.9 to learn how things are.

Heres a checklist: https://github.com/thellimist/EZPods

@Khalian @piv199

I got this error message:

[!] No owner found with the specified email address.

Its probably because you don't have a library or registered in cocoapods.

[2017-02-21 13:51] piv199 commented on #388
I haven't been watching for a while, so I can't tell about release :) If it's needed then do.
I wish I could blend in the project asap. I was really missing the open source.

[2017-02-21 18:39] J053Fabi0 commented on #391
I guess that, thanks anyway

[2017-02-21 19:03] lfarah commented on #383
Hmmmm yes! But do you agree that is not Swifty?

[2017-02-22 01:27] furuyan commented on #383
Yes! I agree that is not Swifty.

[2017-02-22 18:10] goktugyil commented on #383
Its time to get Schwifty

[2017-02-25 18:07] #388 closed

[2017-02-25 21:01] goktugyil commented on #388
@lfarah we need a pod release

[2017-03-01 21:41] lfarah commented on #388
![screen shot 2017-03-01 at 6 40 51 pm](https://cloud.githubusercontent.com/assets/6511079/23482655/9f21e758-feae-11e6-8eef-baf22df34bfe.png)

![giphy 22](https://cloud.githubusercontent.com/assets/6511079/23482684/ae0860b2-feae-11e6-9339-ff7eec7de657.gif)

[2017-03-01 21:43] lfarah commented on #388
@Khalian we have a problem tho: we forgot to update the podspec, so we gotta remove tag 1.9 and add it again since we need to add [this commit](https://github.com/goktugyil/EZSwiftExtensions/commit/7e632cf59d117ba691536a281fc3c572218a00b6)

[2017-03-06 07:07] Khalian opened #393 "Parallel map for collection"
This is going to me my next entry but I am not complete.

http://stackoverflow.com/questions/42619447/how-to-implement-a-parallel-map-in-swift

Anyone has any ideas. A dumber implementation would just exec some method in a non blocking fashion, but that isnt really a parallel map impl.

[2017-03-06 23:59] #393 closed

[2017-03-09 03:55] #355 closed

[2017-03-09 21:43] Khalian commented on #359
@goktugyil I can lurk on the apache mailing lists and request people to take a look at our project. I dont see any other way.

[2017-03-09 23:05] lfarah commented on #387
Hey @DanielAsher, that looks really cool!

[2017-03-09 23:05] lfarah commented on #387
Can we close this, @Khalian?

[2017-03-10 01:36] Khalian commented on #240
I dont agree necessarily. It violated DRY (Do not repeat yourself).

But yes if a value is used exactly once, it makes some sense.

[2017-03-10 01:49] lfarah commented on #240
Makes sense

[2017-03-10 01:49] #240 closed

[2017-03-10 14:50] goktugyil commented on #359
Sounds simple enough

[2017-03-11 01:54] Khalian commented on #359
Cool I will start the leg work and keep you guys posted.

[2017-03-12 21:29] Khalian commented on #387
@lfarah We could but @DanielAsher has requested we deprecate : https://github.com/goktugyil/EZSwiftExtensions/blob/928d825dcc5002f468d8cfc0b94b98a5910f160c/Sources/ArrayExtensions.swift#L135

[2017-03-20 18:23] #383 closed

[2017-03-24 13:54] swiftFrolov opened #401 "non-open keyboardDidShowWithFrame"
Hey guys,
I've seen that you've changed all methods in UIViewController extension, but keyboardDidShowWithFrame is public still, not open.
Could you make it open as well? Because I can't use it right now.
I will change it to open, but hope that you will do the same, so my change will not missed in next update.
Thank you.

[2017-03-24 17:35] Khalian commented on #401
https://github.com/goktugyil/EZSwiftExtensions/pull/402

[2017-04-01 06:26] mezhevikin opened #404 "Argument labels '(x:, y:, w:, h:)' do not match any available overloads`"
Hello. I have error on xcode 8.3:

`/Users/mezhevikin/Desktop/Projects/horoscope/Horoscope/Views/FriendCell.swift:36:25: Argument labels '(x:, y:, w:, h:)' do not match any available overloads`

Code:
[code]

xcode 8.3, any ios, EZSwiftExtensions 1.9

[2017-04-01 07:22] Khalian commented on #404
Hey, https://github.com/goktugyil/EZSwiftExtensions/blob/master/Sources/UIImageViewExtensions.swift#L13. I dont see any of the constructors not accept either the imageName or the UIImage object as arg.

What that would mean is that the view is a clipped representation of the actual image, which is missing in your args.

[2017-04-01 07:26] mezhevikin commented on #404
@Khalian UIImageView this is a child of UIView, and UIView contains method:

https://github.com/goktugyil/EZSwiftExtensions/blob/master/Sources/UIViewExtensions.swift#L14

[2017-04-01 18:23] Khalian commented on #404
Ok I will take a look.

[2017-04-05 10:46] Eric0625 opened #405 "need to update for swift 3.1"
'DBL_MAX' is deprecated: Please use 'Double.greatestFiniteMagnitude' or '.greatestFiniteMagnitude'.

[2017-04-13 04:58] Khalian commented on #404
https://github.com/goktugyil/EZSwiftExtensions/pull/408

Curious, unit testing your hypothesis reveals nothing wrong. Could you let me know if this helps?

[2017-04-13 04:59] Khalian commented on #405
Thanks Eric. This has been fixed in https://github.com/goktugyil/EZSwiftExtensions/commit/d475a43ed13653142ce1544b19f34061b47dda76 and now in mainline branch.

[2017-04-13 04:59] #405 closed

[2017-04-17 09:01] shanyanhai opened #409 "image not found"
xcode8.2.1

[2017-04-17 09:11] #409 closed

[2017-04-22 18:16] dfrib opened #413 "Dictionary extension 'random()' is untested for empty dictionaries and fails for this untested case"
The generally non-deterministic `random()` method of the `Dictionary` extensions is implemented as follows:
[code]

As far as I can see, this method is never tested for the deterministic cases where the dictionary is empty or contains a single element. For the former—if applied onto an empty dictionary—it will yield a runtime exception, as the `Array(self.values)` array will be empty.

Leaving asi

[2017-05-07 21:12] Khalian commented on #413
Addressing issue : https://github.com/goktugyil/EZSwiftExtensions/pull/420

[2017-05-07 21:15] Khalian commented on #413
Good callout. I do not see any other way other to make it optional. I will test the other randoms as well to see if they have issues like this.

[2017-05-10 21:59] #404 closed

[2017-05-15 01:20] taogeyijiu opened #421 "Lose "public""
UIAlertControllerExtensions:
extension UIAlertController {
    /// EZSE: Easy way to present UIAlertController
    func show() {
        UIApplication.shared.keyWindow?.rootViewController?.present(self, animated: true, completion: nil)
    }
}
And StringExtensions:
 ///EZSE: Returns hight of rendered string
    func height(_ width: CGFloat, font: UIFont, lineBreakMode: NSLineBreakMode?) -> CGFloat

[2017-05-15 01:56] Khalian commented on #421
Not sure I understand the premise of this question. Is it that these methods are not accessible to callers ? Or is there a runtime failure of some sorts?

[2017-05-15 02:34] taogeyijiu commented on #421
methods are not accessible to callers ,I use cocoapods

[2017-05-15 02:35] taogeyijiu commented on #421
methods are not accessible to callers ,I use cocoapods

[2017-05-15 02:38] taogeyijiu commented on #421
[](url)
<img width="695" alt="wx20170515-103716 2x" src="https://cloud.githubusercontent.com/assets/17825349/26040773/990dd476-395a-11e7-9fb3-f4aa8b53d143.png">

[2017-05-15 02:46] Khalian commented on #421
gotcha. I will fix that oversight.

[2017-05-15 02:54] taogeyijiu commented on #421
ok

[2017-05-15 02:54] #421 closed

[2017-05-15 02:54] Khalian commented on #421
So string height has been recently fixed in https://github.com/goktugyil/EZSwiftExtensions/commit/2395fa54

I will put out a PR for the other one.

[2017-05-15 03:09] taogeyijiu commented on #421
<img width="844" alt="wx20170515-110808 2x" src="https://cloud.githubusercontent.com/assets/17825349/26041365/d6ccb5ee-395e-11e7-8581-f63f9041f3a5.png">

[2017-05-16 01:32] shanyanhai opened #423 "Library conflict"
I like your library,
It's convenient and saves me a lot of time.
Now I have another question
This question may not be asked here, but I don't know where to find the answer
I use the Carthage
import EZSwiftExtensions
import Material  (Other libraries)
There's the same
extension UIView {
      var x:......
}
If I use
UiView ().x --------(Xcode will report the error ambiguous of)
I try
UIView().EZSwi

[2017-05-16 02:23] Khalian commented on #423
I am glad you like our library.

So I have handled something similar to this before https://github.com/goktugyil/EZSwiftExtensions/issues/353

The gist from that is that we do not hold an opinion about other frameworks. You are most likely importing something from another library that defines an extension with the same name but a different implementation.

You can take a look at this thread : http

[2017-05-19 00:23] Khalian commented on #423
@shanyanhai Does that answer your question ?

[2017-05-19 00:46] shanyanhai commented on #423
@Khalian       I try
That kind of writing is in Xcode8.3.2   (error)
But my problem has been solved, I decided to delete "Material".  - -!
Thank you in the end.You try hard to help,and "Carthage" just said: "find other" . (kicking a ball - -!). Maybe I'll use cocoapods later, because Carthage doesn't seem to be very mature, Carthage.

[2017-05-19 04:32] Khalian commented on #423
I dont think this is a cathage or cocoapods issues. Its an extensions clash.
The only issue with carthage it seems is its lack of descriptive error messages.

I am closing this for now. Feel free to reach out if you any followups or other issues.

[2017-05-19 04:32] #423 closed

[2017-05-23 01:59] #413 closed

[2017-05-23 02:00] Khalian commented on #380
I am not pushing for this since there isn't a terrific use case that warrants it.

[2017-05-23 02:00] #380 closed

[2017-05-27 23:37] astrokin opened #430 "MacOS support"
Do you have any plans to support MacOS ?

[2017-05-28 05:33] Khalian commented on #430
Good point. We have had this conversation before : https://github.com/goktugyil/EZSwiftExtensions/issues/337.

I have been putting this off for a while. But since it bothers people, I will prioritize this in my free time.

[2017-05-28 19:06] Khalian commented on #430
I started the work at https://github.com/goktugyil/EZSwiftExtensions/pull/431. I will close this in favor of https://github.com/goktugyil/EZSwiftExtensions/pull/337

[2017-05-28 19:06] #430 closed

[2017-05-28 19:07] Khalian commented on #337
I am prioritizing this and started the ball rolling in : https://github.com/goktugyil/EZSwiftExtensions/pull/431

[2017-06-28 17:22] icefall opened #434 "Array removeAll() is conflicting with Swift implementation"
When I call removeAll() of an array I get "Ambiguous use of 'removeAll' because it has implementation on the Swift.Array and EZSwiftExtensions.Array<Element>.

Example code is attached to the issue.
[RemoveAllTest.zip](https://github.com/goktugyil/EZSwiftExtensions/files/1109581/RemoveAllTest.zip)

[2017-07-09 18:38] Khalian commented on #434
So this happens because removeAll in the EZSwift land takes variadic parameters. This causes conflict in the special case in which the num args = 0.

I added the condition that at least one arg needs to be passed to removeAll and test cases for the same. https://github.com/goktugyil/EZSwiftExtensions/pull/436

[2017-07-09 18:38] Khalian commented on #434
@lfarah @goktugyil Can you guys look at this, this is a bug so its high priority.

[2017-07-10 17:03] Khalian commented on #434
Merged the change. Resolving now.

[2017-07-10 17:03] #434 closed

[2017-07-18 08:19] goktugyil commented on #434
A quick fix I did was do:

`array = []`

[2017-08-07 06:01] #387 closed

[2017-08-07 06:02] #359 closed

[2017-08-30 22:03] noriega9807 opened #448 "Error on DateExtensions.swift"
Hi, I was using the Date extension like this:
[code]
And it was running fine on the simulator, however when running on a actual device it always returned `nil` so I modified `DateExtensions.swift` like this to get this working on a device:

[code]

[2017-09-06 12:13] icefall opened #452 "Carthage can't compile"
Steps to reproduce the problem:
- Create an iOS project
- Create `Cartfile` and adds `github "goktugyil/EZSwiftExtensions"`
- `carthage update EZSwiftExtensions --platform ios`

Using Carthage 0.25.0

[code]

The log is [carthage-xcodebuild.byR5gt.log.txt](https://github.com/goktugyil/EZSwiftExtensions/files/1281023/carthage-xcodebuild.byR5gt.log.txt)

[2017-09-11 02:31] Khalian commented on #337
MacOSx support is complete. I will begin work on WatchOS when I get the free time.

[2017-09-11 02:35] Khalian opened #456 "Swift 4 support?"
What would be the effort needed for a swift 4 upgrade/support? @goktugyil ? @lfarah ?

[2017-09-11 10:21] lfarah commented on #337
Thanks @Khalian. You did an awesome job

[2017-09-13 12:37] borkuslav commented on #452
I guess here is the reason:
/Users/carlbrusell/Projects/TestCarthage/Carthage/Checkouts/EZSwiftExtensions/Sources/UIButtonExtensions.swift:16:47: error: Superfluous Disable Command Violation: SwiftLint rule 'function_parameter_count' did not trigger a violation in the disabled region. Please remove the disable command. (superfluous_disable_command)

[2017-09-13 13:52] icefall commented on #452
@borkuslav thanks!

EZSwiftExtensions uses Swiftlint and it is violating one of the rules. We have to ways to deal with this:

- Remove `function_parameter_count` which is being called but did not trigger any violation.
- Disable `superfluous_disable_command` for the whole project.

Which path is the best one here?

I can manage to do a pull request with those changes.

[2017-09-13 14:37] lfarah commented on #452
These were already fixed in #444.
@Khalian we need to launch a new version so @icefall, @borkuslav and other Carthage users can use the app. Should we wait for any other PR or I can launch ```1.12``` right now?

[2017-09-14 17:51] goktugyil commented on #456
It seems 95% of the conversion process takes time but is trivial. The rest 5%, like some non-mainstream methods would take a lot of time to convert.

There is also no need to rush Swift 4 support for this version of the Swift. My project is Swift 4 but all my pods are Swift 3 and its working perfectly.

[2017-09-14 17:52] goktugyil commented on #456
I could do this, but seems Lucas started it. It would be easier for single person to handle all conversion tasks except that possible weird 5%

[2017-10-17 03:40] jaja-digitalspaceexplorer opened #462 "Localization support for the timePassed method on DateExtensions.swift"

[2017-10-20 07:58] Adrift001 opened #463 "UIDeviceExtensions DeviceList"
no iPhone 8, iPhone 8P, iPhone X.

[2017-11-05 17:24] #162 closed

[2017-11-25 08:51] #463 closed

[2017-11-25 08:54] Khalian commented on #448
I might be able to work this in. My only concern is en_US. I think i am gonna make that a default param (although feels kinda partial to US folks).

[2017-11-25 09:17] Khalian commented on #448
Let me know if this works for you  ? https://github.com/goktugyil/EZSwiftExtensions/pull/466.

[2017-11-25 09:21] Khalian commented on #462
The concept of time passed is relative. For instance if I live in the United States, and it passed 5 seconds for me, the method would return 5 seconds. For someone in India, if it passes 5 seconds for them, it still records 5 seconds.

I am unsure as to what your requirement here is. Could you give some examples of intended behavior?

I could update the calendar to be auto updating, but i do not s

[2017-11-25 09:24] Khalian commented on #462
https://github.com/goktugyil/EZSwiftExtensions/pull/467

[2017-11-25 21:02] Khalian commented on #452
@lfarah  Na. Go ahead.

[2017-11-26 23:56] jaja-digitalspaceexplorer commented on #462
I apologize for not clarifying this. I meant to say was, if we could add localization support to the units of time returned by the `timePassed` method. I have something on my mind right now, which is to return an enum instead of string.

Sample Snippet

`enum TimePassed {
case year(Int)
case month(Int)
case day(Int)
case hour(Int)
case minute(Int)
case second(Int)
}`

Returning this type of enum w

[2017-12-20 04:49] happiehappie commented on #456
Any updates on this? Just wondering

[2017-12-24 13:10] DominikBucher12 opened #468 "Better project organisation"
For now, it's just some files in one folder - how the heck can someone find the desired extension? I suggest Adding the `Class+Extensions/Feature.swift` convention to files or for example multiple files like `UIView+ToImage`,  `UIView+FadeAnimations` etc. Now it's super complicated to find what you desire. I suggest to add Folder structure like this:

- UIKit
  - `UILabel`
     - `ULabel+Estimated

[2017-12-24 14:52] Khalian commented on #462
@jaja-digitalspaceexplorer I am all for inventing a completely new extension method with this enum as a return type, but i cannot break backwards compatibility by changing the return type signature of the existing timePassed method.

[2017-12-24 14:55] Khalian commented on #468
Interesting thought. I do not particularly like the + convention, since that would bloat up the number of files based on the number of methods that are present. Instead a straightforward UIKit and Foundation split seems more appropriate.

Technically there are two facets to this problem. One is discovery by the user (application programmer who uses this). They wont have any marginal benefit, since

[2017-12-24 14:56] Khalian commented on #456
@happiehappie @lfarah was working on this. If there is no response over the next week, I will schedule some time and finish the upgrade.

[2017-12-24 14:57] #448 closed

[2017-12-24 15:02] DominikBucher12 commented on #468
+1 truth the user won't have any benefit, but the developer could be clear. Also I guess it would be better to remove the Extension word from the files since it is obvious that these are Extensions from the name of project ^^

[2017-12-24 15:41] Khalian commented on #468
Good point. I will wait for one more maintainer to pitch in before making the changes.

[2017-12-24 16:56] goktugyil commented on #468
I agree on @Khalian 's comments.

Where are you trying to find the extension from? Github or Xcode?

The `extension` keyword helps you differentiate from the original file, while using quick open etc.. But it could be shorter like: `ext` maybe?

[2017-12-25 00:04] DominikBucher12 commented on #468
Well, if you don't wanna have better organization and rely on `jump to definition` function in Xcode, I guess it is to keep the chaos as is. So I'll close this issue now. Merry Christmas!

[2017-12-25 00:04] #468 closed

[2018-01-10 00:54] jaja-digitalspaceexplorer commented on #462
@Khalian I'll make sure it's still backwards compatible with the existing consumers of the extension method.

[2018-01-16 09:22] hemangshah commented on #456
@Khalian, any updates on this?

[2018-01-17 02:08] Khalian commented on #456
@hemangshah Hey sorry I did not get a chance to look at this. It seems @lfarah did not either. I will see if I can put in a few spare cycles over this weekend.

[2018-02-08 15:25] waruss321 opened #471 "Why am I getting install errors?"
pod 'EZSwiftExtensions', :git => 'https://github.com/goktugyil/EZSwiftExtensions.git' #Latest release for Swift 3.0

Getting errors such as Argument of '#selector' refers to instance method 'didPressed' that is not exposed to Objective-C

[2018-02-24 06:47] yousifa opened #472 "hideKeyboardWhenTappedAround blocks interaction with buttons"
hideKeyboardWhenTappedAround blocks tap interactions with buttons until keyboard is dismissed. Any way to set priority for hideKeyboardWhenTappedAround to last priority in tap recognizers?

[2018-03-14 09:15] ndemie commented on #456
Any update?

[2018-03-14 14:40] lfarah commented on #456
Just updated [my PR](https://github.com/goktugyil/EZSwiftExtensions/pull/457/), which is pending approval

[2018-03-23 08:03] astrokin opened #474 "[Crash] CollectionsExtension.swift:22"
concurrency error. modifying`var res` from different thread.

possible solution. inspired by objc.io

`final class ThreadSafe<A> {

  private var _value: A
  private let queue = DispatchQueue(label: "ThreadSafe")
  init(_ value: A) {
    self._value = value
  }

  var value: A {
    return queue.sync { _value }
  }

  func atomically(_ transform: (inout A) -> ()) {
    queue.sync {
      transform

[2018-05-04 06:02] Marcello168 commented on #456
any updates on this?

[2018-05-04 06:02] Marcello168 commented on #456
@Khalian any updates on this?

[2018-05-10 04:27] relsirc commented on #456
I'm also wondering about this.

[2018-05-10 05:11] Khalian commented on #456
This is the final PR : https://github.com/goktugyil/EZSwiftExtensions/pull/476. @lfarah @goktugyil I need some eyes in this one.

[2018-06-12 07:32] VKGraphics opened #478 "'multiply(by:)' is unavailable: Please use operators instead."
public func rounded(toPlaces places: Int) -> Self {
        guard places >= 0 else { return self }
        var divisor: Self = 1
        for _ in 0..<places { divisor.multiply(by: 10) }
        return (self * divisor).rounded() / divisor
    }

![screen shot 2018-06-12 at 1 01 49 pm](https://user-images.githubusercontent.com/24429336/41276129-d27d6688-6e40-11e8-8d0b-135404045bb7.png)

[2018-06-12 08:21] VKGraphics opened #479 "Declarations in extensions cannot override yet"
public convenience init(x: CGFloat, y: CGFloat, w: CGFloat, h: CGFloat) {
        self.init(frame: CGRect(x: x, y: y, width: w, height: h))
    }

![screen shot 2018-06-12 at 1 50 56 pm](https://user-images.githubusercontent.com/24429336/41278524-a900fae8-6e47-11e8-807f-082399960acf.png)

[2018-06-19 03:55] #478 closed

[2018-06-19 03:56] #479 closed

[2018-07-10 17:14] goktugyil opened #481 "Cocoapods Update"
I tried to do this and got this error. My development tools might not be up to date.

[code]

Check this out to how to do it: https://github.com/thellimist/EZPods `Pods Update CheckList`

[2018-07-11 02:32] isimple4 commented on #481
@goktugyil It looks like your Xcode and Swift versions are a bit out of date, since these changes like `compactMap` were introduced since `Xcode 9.3` & `Swift 4.1`. Maybe try updating Xcode and see if it works.

[2018-07-11 03:15] isimple4 commented on #481
Current codes are built based on `Xcode 9.3` and `Swift 4.1`, maybe we should revert some changes and provide a version for `Swift 4.0`

[2018-07-19 09:23] CrislerAnytimes opened #482 "Update cocoapod file to latest release"
Hi can someone update the latest podfile to the latest release? (1.12)

[2018-07-19 09:58] isimple4 commented on #482
For now you can use `master` branch or `1.12` tag branch.

[2018-07-19 16:13] goktugyil commented on #482
https://github.com/goktugyil/EZSwiftExtensions/issues/481

[2018-07-19 16:13] #482 closed

[2018-07-19 16:13] goktugyil commented on #481
@Khalian

[2018-07-21 08:06] Khalian commented on #481
Taking a look.

[2018-07-21 08:07] Khalian commented on #481
@isimple4 I guess I could make it 2.0, but we did not do it for the swift 2 -> 3 migration. Anyone else feels 2 is a good idea can comment on it.

[2018-07-21 08:12] Khalian commented on #481
https://github.com/goktugyil/EZSwiftExtensions/pull/483

[2018-07-25 05:29] CoderZZHe opened #484 "A compiler error"
[code]
[code]

[2018-08-09 20:27] goktugyil commented on #359
I wondered what happened with this

[2018-08-22 01:45] lizhaobomb commented on #482
pod can't find 1.12

[2018-08-23 01:13] isimple4 commented on #482
It seems that `1.12` branch has not been merged and published yes, try using `tag` like below.

`pod 'EZSwiftExtensions', :git => 'https://github.com/goktugyil/EZSwiftExtensions.git', :tag => '1.12'
`

#483

[2018-08-26 06:15] Khalian commented on #481
I released the version as 2.0 on @isimple4 recommendation. https://github.com/goktugyil/EZSwiftExtensions/pull/487 there is a retroactive pull request for it. Once thats done, i will close this request.

[2018-08-26 06:16] Khalian commented on #474
Good catch. I will take a look.

[2018-08-28 14:20] lukasburns opened #488 "Swift 4 keyboardWillShowWithFrame should be marked with @objc"
Since swift 4 doesn't let you override functions in extensions unless they are explicitly tagged with @objc, this method can't be overwritten as of now.

are there any workarounds for this?

Thanks!

[2018-08-30 05:39] princekumarwm opened #489 "Not building on swift 3.2"
I updated the pod on 30/08 and was not able to build it. This is the issue I am getting. How to support for swift version 3.2

<img width="969" alt="screen shot 2018-08-30 at 11 07 48 am" src="https://user-images.githubusercontent.com/39186867/44831635-12077680-ac45-11e8-9cb2-8d90cbef8b92.png">

[2018-08-31 07:28] isimple4 commented on #489
@goktugyil @Khalian
Is there any chance that we could add a table of version reference to readme?
Since there are such questions now and then.

| Swift verison  | Tag |
| ------------- | ------------- |
| 4.0 | 2.0 |
| 3.0  | 1.11  |

[2018-08-31 23:02] Khalian commented on #489
@isimple4 Good point, i will add table for the swift versions shortly.

[2018-09-06 03:35] 110100110101 commented on #462
@Khalian This issue can now be closed, because the #486 solves this. Thanks!

[2018-10-08 07:24] wakaryry opened #491 "Any plan for swift 4.2?"
As the title says.

[2018-10-09 05:46] #491 closed

[2018-10-17 18:03] wdcurry commented on #489
An fyi: 53 compile errors on a new project install. Latest swift bits at this end. A wee bit more than ~10 seconds to get rolling ;)

[2018-10-30 11:19] sunilprajapati714 opened #494 "Support for Swift 4.2"
Currently supporting latest branch to swift 4.2 ? or any other branch ?

[2018-11-08 02:11] qiter commented on #494
thx please pod install 4.2 Lib!
soon! thx!

[2018-11-08 04:48] Khalian commented on #494
The official effort to update to swift 4.2 is now underway : https://github.com/goktugyil/EZSwiftExtensions/pull/496 which also includes the old PRs that attempt to migrate it. Please review the changes.

Also @goktugyil I would need your final sign off before merging this.

[2018-11-08 15:54] goktugyil commented on #494
Sure, ping me when it's complete

[2018-11-12 08:02] Khalian commented on #494
@goktugyil I got the Ios stuff to build, but not the mac and tvos targets, and I cannot reproduce it on my local environment. Can you take a look? https://github.com/goktugyil/EZSwiftExtensions/pull/496.

[2018-11-13 07:45] Khalian commented on #494
@isimple4 Definitely helped but theres a new issue now

pod lib lint
 -> EZSwiftExtensions (2.0)
    - NOTE  | xcodebuild:  note: Using new build system
    - NOTE  | xcodebuild:  note: Planning build
    - NOTE  | xcodebuild:  note: Constructing build description
    - NOTE  | xcodebuild:  warning: Capabilities for App may not function correctly because its entitlements use a placeholder team ID.

[2018-11-13 08:02] isimple4 commented on #494
@Khalian There are some issues still around after Xcode 10. Check https://github.com/CocoaPods/CocoaPods/issues/8116 and https://github.com/CocoaPods/CocoaPods/issues/8125 for more information.

[2018-11-13 08:07] Khalian commented on #494
Also this

Touching EZSwiftExtensionsTest.xctest (in target: EZSwiftExtensionsTests-tvOS)
2018-11-13 07:40:30.300 xcodebuild[20376:33770] [MT] IDETestOperationsObserverDebug: (0A7B4361-8B94-4CFE-A3D5-CA56B3E650AF) Beginning test session EZSwiftExtensionsTest-0A7B4361-8B94-4CFE-A3D5-CA56B3E650AF at 2018-11-13 07:40:30.300 with Xcode 10B61 on target <DVTiPhoneSimulator: 0x7f89d73599b0> {
		SimDevice

[2018-11-13 08:16] isimple4 commented on #494
That might be an issue of Travis when simulator was interrupted before starting tests.  Not able to reproduce locally.

[2018-11-13 08:18] Khalian commented on #494
@isimple4 Neither can I. And retries do not seem to help. I raised a forum issue on the travis community forum for guidance. https://travis-ci.community/t/cant-run-unit-tests-on-swift-4-2-xcode-10/848. Maybe we can ask for more powerful travis workers or something like that.

[2019-04-01 13:13] relsirc commented on #494
any update on this?

[2019-04-14 12:53] JQHee opened #498 "Support for Swift 5"
Whether planned adaptation swift 5?

[2019-05-13 16:18] lenvonsam commented on #494
how to work in swift4.2

[2019-05-13 17:07] goktugyil commented on #498
An update for 5 is coming: https://github.com/goktugyil/EZSwiftExtensions/pull/501

[2019-05-13 17:08] goktugyil commented on #494
An update for 5 is coming: https://github.com/goktugyil/EZSwiftExtensions/pull/501

To work on swift4.2 you can change the version of your pod to 3. You can have separate swift versions in different frameworks you use in the project.

[2019-05-17 12:09] ceeyang commented on #498
U can use this branch befor the new version Pull Request completed.
[code]

[2019-05-31 09:28] #498 closed

[2019-06-19 02:51] nhhca opened #504 "support for swift5?"

[2019-06-19 03:03] Khalian commented on #504
That effort is tracked here. https://github.com/goktugyil/EZSwiftExtensions/pull/503. I have gotten absolutely no bandwidth to handle it right now.

[2019-09-06 03:31] JaceTan opened #506 "ITMS-90809: Deprecated API Usage - UIWebView"
Apple is blocking our app that uses EZSE. Will there be support to replace all references of UIWebView with WKWebView soon?

The only references are in the `BlockWebView.swift` file.

[2019-09-10 08:58] zeqinjie opened #507 "support for swift5? +1"
support for swift5? +1

[2019-10-03 05:48] sunilprajapati714 opened #508 "UIWebView Deprecated in iOS13"
UIWebView Deprecated in iOS13.

[2019-10-03 05:49] sunilprajapati714 commented on #506
Same problem.

[2019-10-03 05:49] sunilprajapati714 commented on #506
Same problem.
Any Updates?

[2019-11-26 02:51] zdmjerry opened #509 "Swift5 has many questions"
How long to support swift5

[2019-11-26 17:45] goktugyil opened #510 "Swift 5 and New Collaborators"
Hey guys

Quite a few people have asked for an upgrade to swift 5.

@Khalian and I have been out of the swift scene since swift 3 and mostly kept up with maintenance work on the project.

However the swift 5 upgrade is much, much harder than the swift 4 one since its no longer backwards compatible.

Is there anyone who could take over, make this project Swift 5 compatible?

@lfarah @thellimist @pi

[2019-12-23 15:04] croozeus commented on #506
Following.

[2019-12-24 18:04] goktugyil commented on #506
https://github.com/goktugyil/EZSwiftExtensions/issues/510

[2019-12-24 19:02] piv199 commented on #510
I actually stopped using this library quite a while ago... But I could review the latest pull requests to make it work with the latest Swift version.

[2019-12-26 16:31] goktugyil commented on #510
If you're still up to date on latest Swift features, please do

[2020-04-27 08:50] dquangit commented on #508
👍

[2020-06-03 12:02] anz6490 commented on #508
What is the solutions for this.

[2020-06-03 12:04] anz6490 commented on #506
Any updates ?

[2020-06-04 05:49] anz6490 commented on #508
I think it is better everybody should remove this framework, you have no idea what all issues are going to happen in future and nobody is updating this frame work.

[2020-06-04 05:52] anz6490 commented on #506
I'm removed this framework, wasted my one whole day for removing it.

[2020-08-02 00:57] icefall commented on #452
Looks like this is already fixed

[2020-08-02 00:57] #452 closed

[2020-09-07 17:13] #488 closed, assigned to nobody

[2020-09-15 14:43] T-Coded commented on #488
Did you ever find a solution for this problem @lukasburns ?

[2021-02-03 10:29] Sampri21 commented on #506
@anz6490  Did you face any issue after removing it? What was the purpose of using it?

[2021-02-03 10:32] Sampri21 commented on #494
@goktugyil Can you please update for Swift4.2 in replacing UIWebview to WKWebView..as apple is rejecting the app's

[2021-02-03 11:04] goktugyil commented on #494
Please open or review a PR with the wanted changes

[2021-02-03 11:04] goktugyil commented on #506
Please open or review a PR with the wanted changes